<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding [ngStyle]="{'display': 'none'}">
  <button mat-icon-button disabled></button>
  <!--    <mat-checkbox class="checklist-leaf-node"-->
  <!--                  [checked]="checklistSelection.isSelected(node)"-->
  <!--                  (change)="todoLeafItemSelectionToggle(node)"></mat-checkbox>-->
  {{node.item}}
</mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node; when: hasNoContent" matTreeNodePadding>
    <button mat-icon-button disabled></button>
    <mat-form-field>
      <mat-label>New folder</mat-label>
      <input matInput #itemValue>
    </mat-form-field>
    <button mat-button (click)="saveNode(node, itemValue.value)">Save</button>
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'toggle ' + node.filename">
      <mat-icon class="mat-icon-rtl-mirror" [ngClass]="{'active-item': selectedFolder === node}">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
<!--    <mat-checkbox [checked]="descendantsAllSelected(node)"-->
<!--                  [indeterminate]="descendantsPartiallySelected(node)"-->
<!--                  (change)="todoItemSelectionToggle(node)"></mat-checkbox>-->
    <div (click)="showItem(node)" class="folder-item-line"  [ngClass]="{'active-item': selectedFolder === node}"><i class="material-icons folder-icon">folder</i> <span class="folder">{{node.item}}</span></div>
<!--    <button mat-icon-button (click)="addNewItem(node)"><mat-icon>add</mat-icon></button>-->
  </mat-tree-node>
</mat-tree>
