
.folder{
  padding-left: 5px;
}

.folder-icon{
  color: rgb(232, 232, 232);
}

.folder-item-line{
  display: flex;
  align-items: center;
  cursor: pointer;
  &.active {
    //border-bottom: 1px solid #00bcd4;
    color: #00bcd4;
    i{
      color: #00bcd4;
    }

}
  &:hover{
    color: #00bcd4;
    i{
      color: #00bcd4;
    }
  }

}
