/*!
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.billing-detail-dialog {
  table {
    width: 100%;

    th, td {
      padding: 18px 15px;
      border: 1px solid #edf1f5;
      text-align: left;
    }
  }
}

.billing-detail {
  div {
    font-size: 13px;
  }

  .service {
    width: 35%;
  }

  .resource-type,
  .cost-currency {
    width: 11%;
  }

  .resource-name,
  .usage-date-start,
  .usage-date-end {
    padding-right: 10px;
    overflow: hidden;
    white-space: nowrap;
  }

  .resource-name {
    width: 20%;
  }

  .usage-date-start,
  .usage-date-end {
    width: 17%;
  }

  .wide-name-field {
    width: 25%;
  }

  .resource-name {
    width: 20%;
    cursor: pointer;
  }

  .total {
    padding-top: 18px;
    margin-right: 70px;
    text-align: right;
    font-size: 13px;
    font-weight: 600;
  }
}

.scrolling-content {
  max-height: 285px;
  overflow-y: auto;
}

.mat-list-item-content {
  justify-content: space-between;
  font-size: 14px !important;
}

mat-tooltip-component > .mat-tooltip {
  white-space: pre;
}
