.detail-header td:first-child {
  font-size: 16px;
  font-weight: 600;
  color: #455c74;
  text-overflow: ellipsis;
}

.billing-detail table {
  width: 100%;
}

.billing-detail th,
.billing-detail td {
  border: 1px solid #edf1f5;
  padding: 18px 15px;
  text-align: left;
}

.billing-detail .total {
  padding: 18px 20px 0;
  text-align: right;
  font-size: 20px;
  font-weight: 600;
}
