#idea stuff
*.iml
.idea
target

#eclipse stuff
.classpath
.project
.settings
/services/common/bin
/services/provisioning-service/bin
/services/security-service/bin
/services/self-service/bin
/services/provisioning-service/response
