/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.user-data {
  &__name {
    position: relative;
    padding: 2px 25px 2px 10px;
    font-size: 13px;
    font-weight: 400;
    border-radius: 5px;
  }

  &__icon {
    position: absolute;
    top: -5px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    color: white;
    font-size: 18px;
    border-radius: 50%;
  }

  &__icon,
  &__name {
    background-color: #D3F0F4;
  }

  &__wrapper {
    position: relative;
    padding-left: 24px;
  }
}

.close-btn {
  position: absolute;
  top: 2px;
  right: 8px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
