<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<div id="dialog-box" class="confirmation-dialog">
  <header class="dialog-header">
    <h4 class="modal-title">

      <span *ngIf="data.type !== 5 && model.notebook.name && model.notebook.name !== 'edge node'">
        <span>{{ data.type === 1 ? 'Terminate' : 'Stop' }} resource</span>
      </span>
      <span *ngIf="model.notebook.type === 'Edge Node' || model.notebook.name === 'edge node' || data.type === 4 && data.notebook.length || data.type === 5 ">
        <i class="material-icons">priority_high</i>Warning
      </span>
      <span *ngIf="data.type === 4 && !data.notebook.length">
        Update group data
      </span>
    </h4>
    <button type="button" class="close" (click)="dialogRef.close()">&times;</button>
  </header>
  <div class="dialog-content">
    <div class="content-box">
<!--      <p *ngIf="data.type !== 4 && data.type !== 5" class="info text-center">{{ model.title }}</p>-->
      <div *ngIf="data.type === 4" class="text-center m-bot-20">
        <h4 class="strong">Group data will be updated.</h4>
      </div>
      <p 
        *ngIf="data.type === 4 && data.notebook.length" 
        class="text-center delete-user scrolling" 
        matTooltip="{{data.notebook.join(',\n')}}"
        matTooltipPosition="above"
        matTooltipClass="group-updated-tooltip"
      >
        User<span *ngIf="data.notebook.length>1">s</span>  
        <span class="strong" > {{data.notebook.join(', ')}} </span>
        will be removed from this group. Removing may prevent the user
        <span *ngIf="data.notebook.length>1">s</span> to access {{data.notebook.length>1 ? 'their' : 'his/her'}} resources
      </p>
      <p *ngIf="data.type === 5" class="text-center delete-user">Removing the group<span *ngIf="data.notebook.length>1">s</span> <span class="strong">{{' ' + data.notebook}}</span> from the project may prevent the users from this group<span *ngIf="data.notebook.length>1">s</span> to access their resources</p>
        <div class="resource-list" *ngIf="data.type === 0 || data.type === 1">
          <div class="resource-list-header">
            <div class="resource-name">Notebook</div>
            <div class="clusters-list">
              <div class="clusters-list-item">
                <div class="cluster"><span *ngIf="isClusterLength">Compute</span></div>
                <div class="status">Further status</div>
              </div>
            </div>

          </div>
          <div class="scrolling-content resource-heigth">
            <div class="resource-list-row sans node">
              <div class="resource-name ellipsis">
                {{notebook.name}}
              </div>

              <div class="clusters-list">
                <div class="clusters-list-item">
                  <div class="cluster"></div>
                  <div class="status"
                       [ngClass]="{
                   'stopped': data.type === 0, 'terminated': data.type === 1
                    }"
                  >
                    {{data.type  === 0 ? 'Stopped' : 'Terminated'}}
                  </div>
                </div>
                <div class="clusters-list-item" *ngFor="let cluster of data.compute">
                  <div class="cluster">{{cluster.computational_name}}</div>
                  <div class="status" [ngClass]="{
              'stopped': (data.type === 0 && cluster.image==='docker.datalab-dataengine'), 'terminated': data.type === 1 || (data.type===0 && cluster.image!=='docker.datalab-dataengine')
              }">{{data.type  === 0 && cluster.image === "docker.datalab-dataengine" ? 'Stopped' : 'Terminated'}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>

      <div class="text-center m-top-20">
        <p class="strong">Do you want to proceed?</p>
      </div>
      <div class="text-center m-top-20">
        <button mat-raised-button type="button" class="butt action" (click)="dialogRef.close()">No</button>
        <button *ngIf="data.type !== 4 && data.type !== 5" mat-raised-button type="button" class="butt butt-success action" (click)="confirm()">Yes</button>
        <button *ngIf="data.type === 4 || data.type === 5" mat-raised-button type="button" class="butt butt-success action" (click)="dialogRef.close(true)">Yes</button>
      </div>
    </div>
    </div>
  </div>

