[Unit]
Description=Tensorflow Tensorboard for Python2

[Service]
Type=simple
PIDFile=/var/run/tensorboard-python2.pid
ExecStart=/bin/bash -c "export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/opt/cudnn/lib64; python2.7 -m tensorflow.tensorboard --logdir=/var/log/tensorboard_py2 --port 6006"
ExecStop=/bin/bash -c "for i in $(ps aux | grep 'python2.7 -m tensorflow' | grep -v grep | awk '{print $2}'); do kill -9 $i; done"
User=OS_USR
Group=OS_USR
WorkingDirectory=/home/OS_USR

[Install]
WantedBy=multi-user.target