<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node
    *matTreeNodeDef="let node"
    matTreeNodePadding 
    matTreeNodePaddingIndent="17"
    (click)="openBucketData(node)"
    [ngClass]="{'active-item': activeBacket === node}"
  >
    <button mat-icon-button disabled></button>
    <div
      class="ellipsis"
      matTooltip="{{node.name}}"
      matTooltipPosition="above"
      matTooltipShowDelay="1000"
      [matTooltipClass]="'full-size-tooltip'"
    >
      {{node.name}}
    </div>
  </mat-tree-node>

  <mat-tree-node 
    *matTreeNodeDef="let node;when: hasChild" 
    matTreeNodePadding 
    matTreeNodePaddingIndent="17"
  >
    <button 
      mat-icon-button 
      matTreeNodeToggle
      [attr.aria-label]="'toggle ' + node.name"
    >
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <span (click)="toggleProject(node, treeControl.isExpanded(node))">{{node.name}}</span>
  </mat-tree-node>
</mat-tree>