/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'),
    url(OpenSans-Light.ttf) format('truetype'),
    url(OpenSans-Light.woff2) format('woff2'),
    url(OpenSans-Light.svg) format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url(OpenSans-Regular.ttf) format('truetype'),
    url(OpenSans-Regular.woff2) format('woff2'),
    url(OpenSans-Regular.svg) format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
    url(OpenSans-SemiBold.ttf) format('truetype'),
    url(OpenSans-Semibold.woff2) format('woff2'),
    url(OpenSans-Semibold.svg) format('svg');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
    url(OpenSans-Bold.ttf) format('truetype'),
    url(OpenSans-Bold.woff2) format('woff2'),
    url(OpenSans-Bold.svg) format('svg');
}
