/*!
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.image-list {
  &--wrapper {
    padding: 12px 15px;
  }

  &__nav-bar {
    display: flex;
    justify-content: space-between;
  }
}

.action-button {
  padding: 0 38px 0 45px;

  &--wrapper {
    position: relative;
    margin-right: 10px;
  }
}

.image-table {
  width: 100%;
}

.image-checkbox {
  &--wrapper {
    padding-left: 10px !important;
  }
}

.currency_details {
  display: flex;
  color: #35afd5;
  cursor: pointer;
  transition: all 0.45s ease-in-out;
}

.material-icons {
  font-size: 18px;
}

.button--wrapper,
.header-cell--wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.shared-status {
  padding-right: 16px;

  &--wrapper {
    display: flex;
  }
}

.date-item {
  margin-right: 10px;
}

.action-menu {
  position: absolute;
}

.action-menu-item:disabled {
  color: rgba(180, 179, 179, 0.87) !important;
  background-color: white;
  opacity: 1;
}

.action-button__share {
  display: flex;
  align-items: start;
  width: 100%;
  padding: 10px 15px;
  background-color: transparent;
  color: rgb(87, 114, 137);
  border: none;
  outline: none;

  &:hover {
    color: #35afd5;
    cursor: pointer;
  }

  &:disabled {
    background-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.26);
    cursor: not-allowed;
    transition: all 0.45s ease-in-out;
  }
}

.list-menu {
  padding: 0 !important;
}

.list-unstyled > li {
  margin: 0 !important;
}

.filer__wrapper {
  position: absolute;
  top: 20px;
  left: 0px;
  z-index: 10;
}

.filter__btn {
  margin-right: 10px;
  vertical-align: middle;
  width: 110px;

  &--name {
    line-height: 0;
  }
}
