<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
-->

<!-- Main UI - hidden until login succeeds -->
<div id="main-guacamole-ui">

  <div id="menu">

    <!-- Clipboard -->
    <button id="showClipboard">Show Clipboard</button>
    <div id="clipboardDiv">
      <h2>Clipboard</h2>
      <!-- <p>
        Text copied/cut within Guacamole will appear here. Changes to the text will affect the remote clipboard, and
        will be pastable within the remote desktop. Use the textbox below as an interface between the client and server
        clipboards.
      </p> -->
      <textarea #clip rows="10" cols="40" id="clipboard"></textarea>
    </div>

    <button id="showKeyboard">Show Keyboard</button>
    <button id="ctrlAltDelete">Ctrl-Alt-Delete</button>
  </div>

  <div id="state"> {{ state }} </div>

  <!-- Display -->
  <div id="display" class="guac-display guac-loading">
    <!-- On-screen keyboard -->
    <div id="keyboardContainer"></div>
  </div>


  <!-- Error Dialog-->
  <div id="errorDialog" class="errorDialogOuter">
    <div class="errorDialogMiddle">
      <div class="errorDialog">
        <p id="errorText"></p>
        <div class="buttons"><button id="reconnect">Reconnect</button></div>
      </div>
    </div>
  </div>
</div>
<!-- <div id="display" class="text-center" #display></div> -->
