//custom reset
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    @include box-sizing();
    min-width: 1px; //flexbox fix for Firefox
    padding: 0;
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block
}
audio,
canvas,
video,
progress {
    vertical-align: baseline;
    display: inline-block;
    *display: inline;
    *zoom: 1
}
audio:not([controls]),
[hidden],
template {
    display: none;
    height: 0
}
mark {
    background: none;
    color: inherit
}
sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}
sup {
    top: -.5em
}
sub {
    bottom: -.5em
}
pre {
    overflow: auto
}
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}
input[type='text'],
input[type='number'],
input[type='email'],
input[type='password'],
input[type='color'],
input[type='url'],
input[type='image'],
input[type='tel'],
input[type='submit'],
input[type='file'],
input[type='range'],
input[type='reset'],
input[type='button'],
input[type='search'],
button,
textarea {
    -webkit-appearance: none;
    outline: 0 none;
}
strong {
    font-weight: 500
}
input[type="submit"],
button {
    cursor: pointer
}
textarea,
button,
a,
input {
    @include transition()
}

[data-aload] {
    background-image: none !important
}

svg:not(:root) {
    overflow: hidden
}

.hidden {
    height: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    width: 0;
    border: 0;
    -webkit-appearance: none;
}

// fullframe video
.fullframe {
    height: 0;
    margin: 0 0 20px;
    overflow: hidden;
    padding-bottom: 56.5%;
    position: relative;
    z-index: 0;
    > {
        iframe, object, embed {
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: -1
        }
    }
}

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto
}

p {
    padding-bottom: 20px
}

ul,
ol {
    list-style: none
}

//clearfix
.clear {
    clear: both
}

.cfx {
    @include cfx()
}

html[xmlns] .cfx {
    display: block
}

* html .cfx {
    height: 1%
}

a {
    color: #0000EE;
    outline: 0 none;
    &:hover {
        text-decoration: none;
    }
    > img {border: 0}
}

// Wordpress classes
.alignleft, .al {float: left}
.alignright, .ar {float: right}
.aligncenter, .ac {margin-left: auto;margin-right: auto}
img.aligncenter, img.ac {display: block}

//selection
::-moz-selection,
::selection {
    color: #fff;
    background: #3399ff
}

:focus {
    outline: none
}

::-moz-focus-inner {
    border: 0
}
