/* ===================================== https://demos.scotch.io/visual-guide-to-css3-flexbox-flexbox-playground/demos ===================================== */
/*
    Flexbox grid @mixin

    EXAMPLE

    .flexbox {
        @include flexGrid(5, 4%);
        > div {
            margin-bottom: .4em;
            background: #333;
            padding: .8em;
            color: #fff;
        }
    }
*/
/* Usage
    @include add-font('FontName', 'fontfilename', 400);

    @media screen and (-webkit-min-device-pixel-ratio:0) {
        @include add-svg-font('FontName', 'fontfilename', 400);
    }
*/
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 1px;
  padding: 0;
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video,
progress {
  vertical-align: baseline;
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]),
[hidden],
template {
  display: none;
  height: 0; }

mark {
  background: none;
  color: inherit; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.5em; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

input[type='text'],
input[type='number'],
input[type='email'],
input[type='password'],
input[type='color'],
input[type='url'],
input[type='image'],
input[type='tel'],
input[type='submit'],
input[type='file'],
input[type='range'],
input[type='reset'],
input[type='button'],
input[type='search'],
button,
textarea {
  -webkit-appearance: none;
  outline: 0 none; }

strong {
  font-weight: 500; }

input[type="submit"],
button {
  cursor: pointer; }

textarea,
button,
a,
input {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

[data-aload] {
  background-image: none !important; }

svg:not(:root) {
  overflow: hidden; }

.hidden {
  height: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  width: 0;
  border: 0;
  -webkit-appearance: none; }

.fullframe {
  height: 0;
  margin: 0 0 20px;
  overflow: hidden;
  padding-bottom: 56.5%;
  position: relative;
  z-index: 0; }
  .fullframe > iframe, .fullframe > object, .fullframe > embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1; }

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto; }

.logo-img{
    width: 105px
}

p {
  padding-bottom: 20px; }

ul,
ol {
  list-style: none; }

.clear {
  clear: both; }

.cfx:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .cfx {
  display: block; }

* html .cfx {
  height: 1%; }

a {
  color: #0000EE;
  outline: 0 none; }
  a:hover {
    text-decoration: none; }
  a > img {
    border: 0; }

.alignleft, .al {
  float: left; }

.alignright, .ar {
  float: right; }

.aligncenter, .ac {
  margin-left: auto;
  margin-right: auto; }

img.aligncenter, img.ac {
  display: block; }

::-moz-selection,
::selection {
  color: #fff;
  background: #3399ff; }

:focus {
  outline: none; }

::-moz-focus-inner {
  border: 0; }

:-webkit-full-screen-ancestor:not(iframe) {
  transform: none !important;
  animation: none !important;
  opacity: 1 !important; }

html {
  font: 300 24px/1.4 "Open Sans", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none; }
  html > body {
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #FDFEFE;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    min-height: 100vh;
    font-size: 15px;
    color: #3C4349;
    opacity: 1; }

.ani, header nav > ul > li.has-children > a::before, header nav > ul > li.has-children > a::after, header nav > ul > li .sub-menu, .controls-slider .controls-nav mark, .controls-slider .mac-wrap .swiper-slide video, h2.heading, .we-solve article div, .we-solve article div svg g[stroke*="#"], .we-solve article div p, .features .mac-screen-wrap .screen-slider-thumbs .swiper-slide, .social li, .overlay .overlay-wrap .sources div .git-ref,
.overlay .overlay-wrap .sources div .apache-ref {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }

#wrap {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -moz-box-flex: 1;
  -moz-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  overflow: hidden;
  width: 100%; }

.row {
  position: relative;
  width: 1180px;
  margin: 0 auto;
  max-width: 96%;
  z-index: 0; }

.h100 {
  min-height: 100vh; }

.abstract {
  position: absolute;
  background-repeat: no-repeat; }

.abstract1 {
  background-image: url(../images/background/abstract_1.svg);
  width: 370px;
  height: 120px;
  top: 0;
  left: 20%; }

.abstract2 {
  background-image: url(../images/background/abstract_2.svg);
  background-size: cover;
  width: 180px;
  height: 500px;
  top: 40px;
  right: 0; }

.abstract3 {
  background-image: url(../images/background/abstract_3.svg);
  top: 550px;
  left: 0;
  width: 200px;
  height: 400px; }

header {
  width: 100%;
  position: relative;
  z-index: 1; }
  header nav {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 60px; }
    header nav > ul {
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex; }
      header nav > ul > li {
        position: relative; }
        header nav > ul > li + li {
          margin-left: 15px; }
        header nav > ul > li a {
          text-decoration: none;
          position: relative;
          line-height: 38px;
          display: block;
          color: #485F76;
          padding: 0 10px;
          z-index: 0; }
          header nav > ul > li a:hover {
            color: #1CBC79; }
        header nav > ul > li.get-started-nav {
          color: red; }
          header nav > ul > li.get-started-nav > a {
            border: 1px solid #1CBC79;
            color: #1CBC79;
            border-radius: 4px;
            line-height: 36px;
            padding: 0 16px; }
            header nav > ul > li.get-started-nav > a:hover {
              border-color: #19a66b;
              background-color: #1CBC79;
              color: #fff; }
            header nav > ul > li.get-started-nav > a:active {
              background-color: #19a66b;
              border-color: #179d65; }
        header nav > ul > li.has-children > a {
          padding-right: 32px; }
          header nav > ul > li.has-children > a::before, header nav > ul > li.has-children > a::after {
            -webkit-transform: rotate(135deg);
            -moz-transform: rotate(135deg);
            -ms-transform: rotate(135deg);
            -o-transform: rotate(135deg);
            transform: rotate(135deg);
            border-right: 1px solid #485F76;
            position: absolute;
            margin-top: -2px;
            content: '';
            height: 7px;
            right: 18px;
            top: 50%;
            width: 0; }
          header nav > ul > li.has-children > a::after {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
            right: 13px; }
        header nav > ul > li.has-children:hover > a {
          color: #1CBC79; }
          header nav > ul > li.has-children:hover > a:before, header nav > ul > li.has-children:hover > a:after {
            border-color: #1CBC79; }
        header nav > ul > li.has-children:hover > ul {
          visibility: visible;
          opacity: 1;
          top: 115%; }
        header nav > ul > li .sub-menu {
          visibility: hidden;
          position: absolute;
          width: 280px;
          opacity: 0;
          top: 150%;
          left: 0;
          background: #fff;
          box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
          header nav > ul > li .sub-menu:before {
            position: absolute;
            bottom: 100%;
            height: 45px;
            content: '';
            right: 0;
            left: 0; }
          header nav > ul > li .sub-menu.community {
            padding: 5px; }
          header nav > ul > li .sub-menu li {
            display: block; }
            header nav > ul > li .sub-menu li + li {
              border-top: 1px solid rgba(255, 255, 255, 0.333); }
            header nav > ul > li .sub-menu li a {
              font-weight: 400;
              padding: 3px 10px;
              font-size: 85%;
              color: #1CBC79; }
              header nav > ul > li .sub-menu li a:hover {
                background: rgba(208, 212, 224, 0.17); }
            header nav > ul > li .sub-menu li ul {
              display: flex;
              justify-content: center; }
    header nav #menu-toggle {
      display: none; }
      header nav #menu-toggle .label-toggle {
        display: none; }

.content-desc {
  text-align: center;
  padding-top: 2.5rem; }
  .content-desc h1 {
    font-size: 2.5rem;
    line-height: 2.66667rem;
    font-weight: normal; }
  .content-desc p {
    max-width: 640px;
    line-height: 34px;
    margin: 0 auto;
    font-weight: 300;
    font-size: 24px;
    padding-top: .4rem;
    padding-bottom: 1.75rem; }
  .content-desc button {
    margin-bottom: 0.9rem; }

.cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat; }

a {
  color: #2f2f77; }

form input[type="text"],
form input[type="number"],
form input[type="email"],
form input[type="tel"],
form input[type="password"],
form textarea {
  font: 300 14px "Open Sans", "Arial", sans-serif;
  margin: 0 auto 20px;
  background: none;
  padding: 0 10px;
  display: block;
  height: 32px;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #efc714; }
  form input[type="text"]::-webkit-input-placeholder,
  form input[type="number"]::-webkit-input-placeholder,
  form input[type="email"]::-webkit-input-placeholder,
  form input[type="tel"]::-webkit-input-placeholder,
  form input[type="password"]::-webkit-input-placeholder,
  form textarea::-webkit-input-placeholder {
    color: #555; }
  form input[type="text"]:-moz-placeholder,
  form input[type="number"]:-moz-placeholder,
  form input[type="email"]:-moz-placeholder,
  form input[type="tel"]:-moz-placeholder,
  form input[type="password"]:-moz-placeholder,
  form textarea:-moz-placeholder {
    color: #555; }
  form input[type="text"]::-moz-placeholder,
  form input[type="number"]::-moz-placeholder,
  form input[type="email"]::-moz-placeholder,
  form input[type="tel"]::-moz-placeholder,
  form input[type="password"]::-moz-placeholder,
  form textarea::-moz-placeholder {
    color: #555; }
  form input[type="text"]:-ms-input-placeholder,
  form input[type="number"]:-ms-input-placeholder,
  form input[type="email"]:-ms-input-placeholder,
  form input[type="tel"]:-ms-input-placeholder,
  form input[type="password"]:-ms-input-placeholder,
  form textarea:-ms-input-placeholder {
    color: #555; }
  form input[type="text"]:focus,
  form input[type="number"]:focus,
  form input[type="email"]:focus,
  form input[type="tel"]:focus,
  form input[type="password"]:focus,
  form textarea:focus {
    border-bottom-color: #2f2f77; }

form textarea {
  -webkit-transition: none 0.5s ease;
  -moz-transition: none 0.5s ease;
  -ms-transition: none 0.5s ease;
  -o-transition: none 0.5s ease;
  transition: none 0.5s ease;
  padding-top: 0.1em;
  line-height: 32px;
  overflow: hidden;
  min-height: 32px;
  resize: none; }

.button,
button {
  vertical-align: middle;
  display: inline-block;
  border-radius: 20px;
  padding: 10px 20px;
  background: #333;
  font-size: 17px;
  color: #fff;
  border: 0; }
  .button:hover,
  button:hover {
    background: #1CBC79; }

.get-started {
  width: 200px;
  height: 50px;
  background-color: #1CBC79;
  border-radius: 4px;
  color: #fff; }
  .get-started:hover {
    background: none;
    color: #1CBC79;
    border: 1px solid; }

.controls-slider {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px; }
  .controls-slider .controls-nav {
    -webkit-flex-basis: 220px;
    -moz-flex-basis: 220px;
    -ms-flex-preferred-size: 220px;
    flex-basis: 220px; }
    .controls-slider .controls-nav mark {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
      margin: 20px 0 0;
      cursor: pointer;
      display: block;
      padding: 20px; }
      .controls-slider .controls-nav mark.is-current-slide {
        box-shadow: 0 0 20px 0 rgba(72, 104, 120, 0.15);
        background-color: rgba(255, 255, 255, 0.9);
        position: relative;
        border-radius: 3px; }
        .controls-slider .controls-nav mark.is-current-slide::after {
          content: '';
          position: absolute;
          right: -10px;
          top: calc(50% - 5px);
          width: 0;
          height: 0;
          border-top: 10px solid transparent;
          border-left: 10px solid #fff;
          border-bottom: 10px solid transparent;
          clear: both; }
    .controls-slider .controls-nav.controls-right .is-current-slide::after {
      left: -20px;
      border-top: 10px solid transparent;
      border-right: 10px solid #fff;
      border-bottom: 10px solid transparent;
      clear: both; }
  .controls-slider .mac-wrap {
    padding-bottom: 80px;
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    .controls-slider .mac-wrap::before {
      background: url(../images/laptop-.png) 50% 0 no-repeat;
      background-size: 100% auto;
      position: absolute;
      right: -60px;
      left: -60px;
      content: '';
      bottom: 0;
      top: 0; }
    .controls-slider .mac-wrap .swiper-container {
      margin: 6.15% 7.6% 5%; }
    .controls-slider .mac-wrap .swiper-slide .cover {
      position: absolute;
      z-index: 0;
      bottom: 0;
      right: 0;
      left: 0;
      top: 0; }
    .controls-slider .mac-wrap .swiper-slide video {
      position: absolute;
      z-index: 0;
      bottom: 0;
      right: 0;
      left: 0;
      top: 0;
      visibility: hidden;
      background: #000;
      display: block;
      height: 100%;
      width: 100%;
      z-index: 1;
      opacity: 0; }
      .controls-slider .mac-wrap .swiper-slide video.is-playing {
        visibility: visible;
        opacity: 1; }
        .controls-slider .mac-wrap .swiper-slide video.is-playing + .play-it {
          display: none; }
    .controls-slider .mac-wrap .swiper-slide .play-it {
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      position: absolute;
      bottom: 20px;
      z-index: 2;
      left: 50%; }
    .controls-slider .mac-wrap .swiper-slide::after {
      padding-bottom: 62.5%;
      display: block;
      content: ''; }

h2.heading {
  font-size: 32px;
  line-height: 56px;
  position: relative; }
  h2.heading::after {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: calc(50% - 48px/2);
    height: 2px;
    width: 48px;
    display: block;
    background: #1CBC79; }

.technologies {
  margin: 60px 0;
  background-color: #F9FAFC;
  padding: 10px 0; }
  .technologies .row {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
    .technologies .row figure {
      margin: 0 36px;
      padding: 5px; }
      .technologies .row figure:first-child {
        margin-left: 40px; }
      .technologies .row figure:last-child {
        margin-right: 40px; }

.we-solve {
  text-align: center; }
  .we-solve article {
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    justify-content: space-around;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 2rem 0; }
    .we-solve article div {
      box-shadow: 0 4px 16px 0 rgba(208, 212, 224, 0.3);
      padding: 1.4rem 1rem 0.8rem;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
      background: #fff;
      position: relative;
      border-radius: 3px;
      cursor: pointer;
      width: 22%; }
      .we-solve article div p {
        padding-bottom: 10px;
        line-height: 60px;
        font-weight: 600;
        font-size: 16px;
        color: #485F76; }
      .we-solve article div span {
        font-size: 11px; }
        .we-solve article div span:before {
          content: 'show details'; }
      .we-solve article div mark {
        box-shadow: 0 10px 16px 0 rgba(208, 212, 224, 0.6);
        -webkit-transition: all 0.1s ease;
        -moz-transition: all 0.1s ease;
        -ms-transition: all 0.1s ease;
        -o-transition: all 0.1s ease;
        transition: all 0.1s ease;
        left: calc(50% - 39px/2);
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        font-weight: 600;
        font-size: 26px;
        bottom: -18px;
        height: 39px;
        width: 39px; }
      .we-solve article div.is-opened svg g[stroke*="#"] {
        stroke: #1CBC79; }
      .we-solve article div.is-opened mark {
        box-shadow: 5px 5px 20px 5px rgba(208, 212, 224, 0.6);
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg); }
      .we-solve article div.is-opened span:before {
        content: 'hide details';
        color: rgba(72, 104, 120, 0.5); }
  .we-solve .problems-slider {
    padding: 0 0 65px; }
    .we-solve .problems-slider .min-visible {
      display: none; }
    .we-solve .problems-slider > div {
      padding: 65px 0 0;
      display: none;
      font-size: 16px;
      line-height: 24px;
      text-align: left;
      justify-content: center; }

ul.list-points li {
  position: relative;
  line-height: 30px;
  font-size: 16px; }
  ul.list-points li::before {
    content: '';
    position: absolute;
    top: 15px;
    height: 5px;
    padding-right: 5px;
    margin-left: -18px;
    background: #1cbc79;
    border-radius: 50%; }

.solutions {
  background-color: #F9FAFC;
  padding-bottom: 3rem;
  text-align: center; }
  .solutions h2 {
    padding-top: 2.5rem; }
  .solutions .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 1rem; }
    .solutions .row figure {
      -webkit-flex-basis: 100%;
      -moz-flex-basis: 100%;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      text-align: left; }
      .solutions .row figure.left {
        padding-top: 2rem;
        padding-left: 3rem; }
    .solutions .row article {
      -webkit-flex-basis: 80%;
      -moz-flex-basis: 80%;
      -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
      text-align: left; }
      .solutions .row article h3 {
        font-size: 26px;
        font-weight: 600;
        line-height: 34px; }
      .solutions .row article.left {
        padding-top: 6rem;
        padding-left: 6rem; }
      .solutions .row article.right {
        padding-top: 8rem;
        -webkit-flex-basis: 100%;
        -moz-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%; }
        .solutions .row article.right:last-child {
          padding-top: 5rem; }

.features {
  position: relative;
  margin-top: 40px;
  text-align: center; }
  .features .mac-screen-wrap {
    padding-top: 1rem; }
    .features .mac-screen-wrap .screen-slider-top {
      z-index: 1; }
      .features .mac-screen-wrap .screen-slider-top .mac-browser {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        align-items: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        text-align: left;
        margin: 15px 60px; }
        .features .mac-screen-wrap .screen-slider-top .mac-browser .fake-browser-ui {
          padding-top: 25px;
          border-radius: 3px 3px 0 0;
          background: #F6F8FB;
          display: inline-block;
          position: relative;
          line-height: 0;
          box-shadow: 0 2px 24px 0 rgba(73, 93, 112, 0.3); }
          .features .mac-screen-wrap .screen-slider-top .mac-browser .fake-browser-ui .frame {
            display: block;
            height: 25px;
            position: absolute;
            top: 8px;
            left: 8px; }
            .features .mac-screen-wrap .screen-slider-top .mac-browser .fake-browser-ui .frame span {
              height: 9px;
              width: 9px;
              border-radius: 8px;
              background-color: #eee;
              float: left;
              margin: 0 0 0 5px; }
              .features .mac-screen-wrap .screen-slider-top .mac-browser .fake-browser-ui .frame span.red-dot {
                background: #f36d6d; }
              .features .mac-screen-wrap .screen-slider-top .mac-browser .fake-browser-ui .frame span.yellow-dot {
                background: #f7d84f; }
              .features .mac-screen-wrap .screen-slider-top .mac-browser .fake-browser-ui .frame span.green-dot {
                background: #5dd85d; }
        .features .mac-screen-wrap .screen-slider-top .mac-browser figure {
          max-width: 777px;
          -webkit-box-flex: 1;
          -webkit-flex: 1;
          -moz-box-flex: 1;
          -moz-flex: 1;
          -ms-flex: 1;
          flex: 1; }
          .features .mac-screen-wrap .screen-slider-top .mac-browser figure img {
            display: block;
            width: 100%; }
        .features .mac-screen-wrap .screen-slider-top .mac-browser figcaption {
          -webkit-flex-basis: 280px;
          -moz-flex-basis: 280px;
          -ms-flex-preferred-size: 280px;
          flex-basis: 280px;
          margin-left: 80px; }
          .features .mac-screen-wrap .screen-slider-top .mac-browser figcaption h3 {
            font-size: 24px;
            margin: 15px 0 15px -20px; }
      .features .mac-screen-wrap .screen-slider-top .swiper-button-black {
        -webkit-transform-origin: 50% 50% 0;
        -moz-transform-origin: 50% 50% 0;
        -ms-transform-origin: 50% 50% 0;
        -o-transform-origin: 50% 50% 0;
        transform-origin: 50% 50% 0;
        -webkit-transform: scale(0.6);
        -moz-transform: scale(0.6);
        -ms-transform: scale(0.6);
        -o-transform: scale(0.6);
        transform: scale(0.6); }
        .features .mac-screen-wrap .screen-slider-top .swiper-button-black.swiper-button-prev {
          left: 20px; }
        .features .mac-screen-wrap .screen-slider-top .swiper-button-black.swiper-button-next {
          right: 20px; }
    .features .mac-screen-wrap .screen-slider-thumbs {
      padding: 30px 0;
      z-index: 0;
      display: inline-flex;
      font-size: 12px; }
      .features .mac-screen-wrap .screen-slider-thumbs .swiper-wrapper {
        margin-left: calc(-25% + 164.5px); }
      .features .mac-screen-wrap .screen-slider-thumbs .swiper-slide {
        box-shadow: 0 5px 14px 3px rgba(208, 212, 224, 0.6);
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        justify-content: center;
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        align-items: center;
        display: -webkit-inline-box;
        display: -webkit-inline-flex;
        display: -moz-inline-flex;
        display: -ms-inline-flexbox;
        display: inline-flex;
        background: #fff;
        cursor: pointer;
        color: #485F76;
        height: 100px;
        width: 130px;
        margin: 3px; }
        .features .mac-screen-wrap .screen-slider-thumbs .swiper-slide a {
          width: 40px;
          margin: 5px; }
        .features .mac-screen-wrap .screen-slider-thumbs .swiper-slide:hover {
          color: #1CBC79; }
        .features .mac-screen-wrap .screen-slider-thumbs .swiper-slide.swiper-slide-active {
          box-shadow: 0 4px 16px 0 rgba(208, 212, 224, 0.9);
          color: #1CBC79; }
          .features .mac-screen-wrap .screen-slider-thumbs .swiper-slide.swiper-slide-active:before {
            border-color: #1CBC79; }
  .features .features-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }

.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end; }
  .social li {
    margin: 5px 15px 0;
    cursor: pointer;
    align-self: center;
    background-repeat: no-repeat;
    background-position: 50% 50%; }
    .social li.social-twitter {
      background-image: url(../images/social/twitter_state.svg); }
    .social li.social-slack {
      background-image: url(../images/social/slack_state.svg); }
    .social li.social-youtube {
      background-image: url(../images/social/youtube_state.svg); }
    .social li.social-github {
      background-image: url(../images/social/github_state.svg); }
    .social li:first-child:hover {
      cursor: default;
      color: #fff; }
    .social li:hover {
      color: #1CBC79; }
    .social li a {
      display: block;
      padding: 0 15px;
      width: 25px;
      height: 30px;
      text-decoration: none;
      line-height: 90px;
      font-size: 12px;
      color: #fff; }
      .social li a:hover {
        background: none !important; }

ul.community li.social-youtube {
  background-image: url(../images/social/youtube_state_light.svg); }

footer {
  background: #262E36;
  color: #fff;
  margin-top: 25px; }
  footer article {
    padding: 3.5rem 0 3.2rem;
    text-align: center;
    border-bottom: 1px solid;
    border-color: rgba(249, 250, 251, 0.06); }
    footer article h2 {
      margin: 0 auto;
      font-size: 30px;
      font-weight: 300;
      line-height: 40px; }
    footer article button {
      margin-top: 40px; }
  footer .logo-wrap {
    padding: 1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center; }
    footer .logo-wrap span {
      font-size: 14px;
      align-self: center; }
    footer .logo-wrap div {
      flex: 1;
      align-self: center; }
      footer .logo-wrap div a {
        display: inline-flex;
        width: 60px;
        height: 30px;
        vertical-align: bottom; }
  footer .asf-container {
    border-bottom: 1px solid;
    border-color: rgba(249, 250, 251, 0.06);
    padding-top: 20px;
    color: #9199a0;
    font-size: 12px; }
  footer .copyright {
    text-align: center;
    color: #9199a0;
    font-size: 12px; }

.overlay {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  position: fixed;
  height: 100%;
  z-index: 5;
  width: 0;
  left: -1px;
  top: 0; }
  .overlay .overlay-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: center; }
    .overlay .overlay-wrap a {
      padding: 8px;
      text-decoration: none;
      font-size: 36px;
      color: #818181;
      display: block;
      transition: 0.3s; }
    .overlay .overlay-wrap .sources {
      background-color: #fff;
      position: relative;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -moz-box-flex: 1;
      -moz-flex: 1;
      -ms-flex: 1;
      flex: 1;
      color: #485F76;
      height: 100vh; }
      .overlay .overlay-wrap .sources .close-butt {
        position: absolute;
        font-size: 46px;
        right: 40px;
        top: 20px;
        cursor: pointer; }
        .overlay .overlay-wrap .sources .close-butt:hover .close-butt-download:hover, .overlay .overlay-wrap .sources .close-butt-download:focus {
          color: #1CBC79; }
      .overlay .overlay-wrap .sources .dlab-logo {
        padding: 56px;
        margin-bottom: 120px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-image: url(../images/logo_black.svg); }
      .overlay .overlay-wrap .sources h2 {
        line-height: 26px;
        font-weight: 600;
        font-size: 18px; }
      .overlay .overlay-wrap .sources p {
        line-height: 24px;
        font-size: 14px; }
      .overlay .overlay-wrap .sources div {
        width: 250px;
        margin: 0 auto;
        margin-bottom: 40px;
        height: 96px; }
        .overlay .overlay-wrap .sources div .git-ref,
        .overlay .overlay-wrap .sources div .apache-ref {
          height: 100%;
          background-size: 50%;
          background-repeat: no-repeat;
          background-position: center;
          padding: 15px; }
          .overlay .overlay-wrap .sources div .git-ref.git-ref,
          .overlay .overlay-wrap .sources div .apache-ref.git-ref {
            border: 1px solid #0366D6;
            background-image: url(../images/sources/git_logo.png); }
          .overlay .overlay-wrap .sources div .git-ref.apache-ref,
          .overlay .overlay-wrap .sources div .apache-ref.apache-ref {
            border: 1px solid #C41742;
            background-image: url(../images/sources/apache_logo.png); }
      .overlay .overlay-wrap .sources mark {
        box-shadow: 5px 5px 20px 5px rgba(33, 33, 35, 0.2);
        background-color: #FDFDFE;
        position: absolute;
        border-radius: 50%;
        text-align: center;
        line-height: 24px;
        font-weight: 400;
        color: #4B6279;
        font-size: 20px;
        padding: 18px;
        height: 60px;
        right: -30px;
        width: 60px;
        top: 45%; }
    .overlay .overlay-wrap .contact-us {
      display: flex;
      flex-direction: column;
      justify-content: center;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -moz-box-flex: 1;
      -moz-flex: 1;
      -ms-flex: 1;
      flex: 1;
      color: #fff;
      background-image: url("../images/sources/background_people.png");
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh; }
      .overlay .overlay-wrap .contact-us .epam-logo {
        padding-top: 30px;
        margin-bottom: 140px; }
      .overlay .overlay-wrap .contact-us h2 {
        text-align: center;
        line-height: 26px;
        font-weight: 300;
        max-width: 400px;
        font-size: 20px;
        margin: 0 auto; }
      .overlay .overlay-wrap .contact-us form {
        padding-top: 25px;
        margin: 0 auto;
        width: 370px; }
        .overlay .overlay-wrap .contact-us form label {
          position: relative;
          display: block; }
          .overlay .overlay-wrap .contact-us form label span {
            position: absolute;
            top: 10px;
            left: 15px;
            display: block;
            width: 30px;
            height: 30px;
            background-size: 60px;
            z-index: 20;
            background-image: url(../images/login-icons.png); }
            .overlay .overlay-wrap .contact-us form label span.user-icon {
              background-position: 0 0; }
            .overlay .overlay-wrap .contact-us form label span.email-icon {
              background-position: 30px 0; }
          .overlay .overlay-wrap .contact-us form label input {
            background-color: #fff;
            border-radius: 5px;
            padding: 25px 60px;
            color: #9CADBE;
            border: none; }
        .overlay .overlay-wrap .contact-us form button {
          background-color: #1CBC79;
          border: 1px solid #1CBC79;
          border-radius: 5px;
          color: #fff;
          padding: 14px;
          width: 100%; }
          .overlay .overlay-wrap .contact-us form button:hover, .overlay .overlay-wrap .contact-us form button:active {
            background-color: rgba(0, 0, 0, 0.2);
            color: #1CBC79; }
          .overlay .overlay-wrap .contact-us form button:active {
            padding: 15px; }

@media only screen and (min-width: 767px) {
  .social .social-twitter:hover {
    background-image: url(../images/social/twitter.svg); }
  .social .social-slack:hover {
    background-image: url(../images/social/slack.svg); }
  .social .social-youtube:hover {
    background-image: url(../images/social/youtube.svg); }
  .social .social-github:hover {
    background-image: url(../images/social/github.svg); }
  .overlay .sources .git-ref:hover {
    background-color: #0366D6;
    background-image: url(../images/sources/git_logo_hover.png) !important; }
  .overlay .sources .apache-ref:hover {
    background-image: url(../images/sources/apache_logo_hover.png) !important;
    background-color: #C41742; } }

@media (max-width: 1500px) {
  .features .mac-screen-wrap .screen-slider-thumbs .swiper-slide {
    height: 150px;
    width: 110px;
    flex-direction: column;
    justify-content: flex-start; }
    .features .mac-screen-wrap .screen-slider-thumbs .swiper-slide a {
      margin-top: 35px; } }

@media (max-width: 1024px) {
  .controls-nav,
  .technologies {
    display: none; }
  .we-solve article div {
    width: 25%; }
    .we-solve article div p {
      padding-bottom: 35px;
      line-height: 34px; }
    .we-solve article div span {
      position: absolute;
      left: 35%;
      bottom: 30px; }
  .solutions {
    padding-bottom: 0; }
    .solutions .row {
      padding-top: 0; }
      .solutions .row figure {
        flex-basis: 80%;
        padding: 1rem; }
        .solutions .row figure.left {
          padding: 1rem; }
        .solutions .row figure.right {
          padding-left: 0; }
      .solutions .row article.left {
        padding: 1rem; }
      .solutions .row article.right {
        padding: 2rem; }
        .solutions .row article.right:last-child {
          padding-top: 2rem; }
  .features .mac-screen-wrap .screen-slider-thumbs {
    display: none; }
  .features .mac-screen-wrap .screen-slider-top .mac-browser {
    margin: 15px 20px; }
    .features .mac-screen-wrap .screen-slider-top .mac-browser figcaption {
      flex-basis: 60%;
      margin-left: 35px; }
      .features .mac-screen-wrap .screen-slider-top .mac-browser figcaption h3 {
        font-size: 20px;
        margin-bottom: 15px;
        font-weight: 400; }
  .features .mac-screen-wrap .screen-slider-top .swiper-button-black.swiper-button-prev {
    top: 175px;
    left: 0; }
  .features .mac-screen-wrap .screen-slider-top .swiper-button-black.swiper-button-next {
    top: 175px;
    right: 0; } }

@media (max-width: 767px) {
  #wrap > section {
    position: relative;
    padding-top: 60px; }
    #wrap > section > h2 {
      position: absolute;
      right: 0;
      left: 0;
      top: 0; }
    #wrap > section.scroll-active > h2 {
      position: fixed;
      background: #fff;
      z-index: 3;
      box-shadow: 0 0 1px 4px #fff;
      font-size: 16px;
      line-height: 36px;
      padding-top: 0; }
  .abstract2 {
    top: 300px; }
  h2.heading {
    font-size: 26px;
    line-height: 52px;
    padding-top: .5rem; }
  header .logo {
    position: absolute;
    top: 20px;
    left: 30px; }
  header .menu {
    margin-top: 100px;
    display: block;
    height: 0;
    list-style-type: none;
    opacity: 0;
    text-align: center;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 100%;
    visibility: hidden;
    overflow: hidden;
    position: relative; }
    header .menu ul.community {
      padding: 20px 0; }
      header .menu ul.community ul.social {
        justify-content: space-around; }
        header .menu ul.community ul.social li {
          margin: 0; }
    header .menu .get-started-nav {
      margin-top: 10px; }
      header .menu .get-started-nav a {
        padding: 5px 15px;
        text-align: center; }
    header .menu > li {
      display: inline-block;
      font-size: 1.2em;
      text-align: left;
      border-top: none;
      width: 50%;
      margin: 0;
      vertical-align: top; }
      header .menu > li a {
        padding: 15px 10px;
        color: #1CBC79; }
      header .menu > li.has-children li {
        border: none; }
      header .menu > li.has-children a::before,
      header .menu > li.has-children a::after {
        display: none; }
      header .menu > li .sub-menu {
        width: auto;
        visibility: visible;
        opacity: 1;
        position: static;
        background: none;
        box-shadow: none; }
        header .menu > li .sub-menu a {
          font-weight: 300;
          color: #1CBC79;
          padding-left: 35px; }
          header .menu > li .sub-menu a:hover {
            background: none; }
        header .menu > li .sub-menu::before {
          display: none; }
      header .menu > li + li {
        margin-left: 0; }
  header #menu-toggle:checked ~ ul {
    opacity: 1;
    height: 100vh;
    visibility: visible;
    position: relative; }
  header .label-toggle {
    position: absolute;
    right: 30px;
    top: 40px;
    display: block;
    height: 35px;
    width: 35px;
    cursor: pointer; }
    header .label-toggle span {
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;
      background: #1CBC79;
      border-radius: 3px;
      z-index: 1;
      transform-origin: 4px 0;
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }
  .content-desc {
    padding-top: .5rem; }
    .content-desc h1 {
      font-size: 1.41667rem;
      line-height: 1.58333rem; }
    .content-desc p {
      font-size: 0.83333rem; }
  .controls-slider .mac-wrap {
    padding-bottom: 45px; }
  .we-solve .row {
    display: none; }
  .we-solve .problems-slider .min-visible {
    display: block;
    text-align: center; }
    .we-solve .problems-slider .min-visible p {
      font-size: 22px;
      color: #1CBC79; }
    .we-solve .problems-slider .min-visible img {
      margin: 15px; }
  .we-solve .problems-slider > div {
    display: block;
    padding: 25px 0 0; }
    .we-solve .problems-slider > div ul.list-points {
      padding: 0 40px; }
      .we-solve .problems-slider > div ul.list-points li {
        font-size: 18px; }
  .features {
    margin-top: 10px; }
    .features .screen-slider-top div[class^="swiper-"] {
      height: auto !important;
      display: block !important;
      -webkit-transform: none !important;
      -moz-transform: none !important;
      -ms-transform: none !important;
      -o-transform: none !important;
      transform: none !important; }
  footer article {
    padding: .5rem; }
    footer article h2 {
      font-size: 16px;
      line-height: 26px; }
    footer article .get-started {
      width: 160px;
      height: 46px;
      margin-top: 10px; }
  .overlay {
    background-image: url(../images/sources/background_people.png);
    background-repeat: no-repeat;
    background-size: cover; }
    .overlay .overlay-wrap .sources {
      background: none;
      color: #fff; }
      .overlay .overlay-wrap .sources .dlab-logo {
        margin-bottom: 50px;
        background-image: url(../images/logo_white.svg); }
      .overlay .overlay-wrap .sources mark {
        display: none; }
    .overlay .overlay-wrap .contact-us {
      display: none; }
  .content-desc.animatedParent .animated {
    -webkit-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -o-transition-property: none !important;
    transition-property: none !important;
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -ms-animation: none !important;
    -o-animation: none !important;
    animation: none !important;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    transform: none !important;
    opacity: 1; } }

@media (max-width: 567px) {
  .abstract1 {
    left: 0; }
  header .menu .get-started-nav {
    margin-top: 25px; }
  header .menu > li {
    display: block;
    font-size: 1.2em;
    text-align: left;
    border-top: none;
    width: 100%; }
  .controls-slider .mac-wrap {
    padding-bottom: 15px; }
    .controls-slider .mac-wrap::before {
      right: -30px;
      left: -30px; }
  .solutions {
    padding-bottom: 0; }
    .solutions h2 {
      padding-top: 1rem;
      margin-bottom: 1rem; }
    .solutions .row {
      flex-wrap: wrap; }
      .solutions .row:first-of-type {
        padding-top: 40px; }
      .solutions .row figure {
        padding: 0;
        flex-basis: 100%; }
        .solutions .row figure img {
          padding: 50px; }
        .solutions .row figure.left {
          order: 1;
          padding: 0; }
        .solutions .row figure.right {
          padding: 0; }
      .solutions .row article {
        flex-basis: 100%; }
        .solutions .row article h3 {
          font-size: 24px;
          font-weight: 300;
          color: #1CBC79;
          text-align: center; }
        .solutions .row article .list-points {
          padding-left: 30px; }
          .solutions .row article .list-points li {
            font-size: 18px; }
        .solutions .row article.left {
          padding: 0; }
        .solutions .row article.right {
          padding: 0; }
          .solutions .row article.right:last-child {
            padding-top: 0; }
  .features .mac-screen-wrap .screen-slider-top .mac-browser {
    flex-wrap: wrap;
    margin: 10px; }
    .features .mac-screen-wrap .screen-slider-top .mac-browser figcaption {
      margin-left: 30px;
      flex-basis: 90%; }
      .features .mac-screen-wrap .screen-slider-top .mac-browser figcaption h3 {
        margin: 10px 0;
        color: #1CBC79;
        font-size: 24px;
        font-weight: 300; }
      .features .mac-screen-wrap .screen-slider-top .mac-browser figcaption .list-points li {
        font-size: 18px; }
  .features .mac-screen-wrap .screen-slider-top .swiper-button-black.swiper-button-prev {
    top: 300px;
    left: 0; }
  .features .mac-screen-wrap .screen-slider-top .swiper-button-black.swiper-button-next {
    top: 300px;
    right: 0; }
  footer .row {
    flex-wrap: wrap; }
    footer .row div {
      order: 1;
      flex-basis: 100%;
      text-align: center; }
    footer .row ul.social {
      flex-basis: 100%;
      justify-content: center;
      margin-bottom: 25px; } }
