@import 'components/_mixins',
'components/_flexbox',
'libs/css3animateIt.min',
'libs/fonts',
'libs/swiper.min',
'components/_reset';

$primary-green: #1CBC79;
$dark-grey: #262E36;
$light: #fff;

html {
    font: 300 #{$font-base}/1.4 $font;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;

    >body {
        @include flex-direction(column);
        background: #FDFEFE;
        @include flexbox();
        position: relative;
        min-height: 100vh;
        font-size: 15px;
        color: #3C4349;
        opacity: 1
    }
}

.ani {
    @include transition()
}

#wrap {
    @include flex(1, 0, auto);
    overflow: hidden;
    width: 100%
}

.row {
    position: relative;
    width: $container;
    margin: 0 auto;
    max-width: 96%;
    z-index: 0
}

.h100 {
    min-height: 100vh
}

.abstract {
    position: absolute;
    background-repeat: no-repeat;
}

.abstract1 {
    background-image: url(../images/background/abstract_1.svg);
    width: 370px;
    height: 120px;
    top: 0;
    left: 20%;
}

.abstract2 {
    background-image: url(../images/background/abstract_2.svg);
    background-size: cover;
    width: 180px;
    height: 500px;
    top: 40px;
    right: 0;
}

.abstract3 {
    background-image: url(../images/background/abstract_3.svg);
    top: 550px;
    left: 0;
    width: 200px;
    height: 400px;
}

header {
    width: 100%;
    position: relative;
    z-index: 1;

    nav {
        @include justify-content(space-between);
        @include align-items(center);
        @include flexbox();
        padding: 10px 60px;

        >ul {
            @include align-items(center);
            @include flexbox();

            >li {
                position: relative;

                &+li {
                    margin-left: 15px
                }

                a {
                    text-decoration: none;
                    position: relative;
                    line-height: 38px;
                    display: block;
                    color: #485F76;
                    padding: 0 10px;
                    z-index: 0;

                    &:hover {
                        color: $primary-green;
                    }
                }

                &.get-started-nav {
                    color: red;

                    >a {
                        border: 1px solid $primary-green;
                        color: $primary-green;
                        border-radius: 4px;
                        line-height: 36px;
                        padding: 0 16px;

                        &:hover {
                            border-color: darken($primary-green, 5%);
                            background-color: $primary-green;
                            color: $light;
                        }

                        &:active {
                            background-color: darken($primary-green, 5%);
                            border-color: darken($primary-green, 7%);
                        }
                    }
                }

                &.has-children {
                    >a {
                        padding-right: 32px;

                        &::before,
                        &::after {
                            @include transform(rotate(135deg));
                            border-right: 1px solid #485F76;
                            position: absolute;
                            margin-top: -2px;
                            @extend .ani;
                            content: '';
                            height: 7px;
                            right: 18px;
                            top: 50%;
                            width: 0
                        }

                        &::after {
                            @include transform(rotate(45deg));
                            right: 13px
                        }
                    }

                    &:hover {
                        >a {
                            color: $primary-green;

                            &:before,
                            &:after {
                                border-color: $primary-green
                            }
                        }

                        >ul {
                            visibility: visible;
                            opacity: 1;
                            top: 115%;
                        }
                    }
                }

                .sub-menu {
                    visibility: hidden;
                    position: absolute;
                    @extend .ani;
                    width: 280px;
                    opacity: 0;
                    top: 150%;
                    left: 0;
                    background: #fff;
                    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);

                    &:before {
                        position: absolute;
                        bottom: 100%;
                        height: 45px;
                        content: '';
                        right: 0;
                        left: 0;
                    }

                    &.community {
                        padding: 5px;
                    }

                    li {
                        display: block;

                        &+li {
                            border-top: 1px solid rgba(#fff, .333);
                        }

                        a {
                            font-weight: 400;
                            padding: 3px 10px;
                            font-size: 85%;
                            color: $primary-green;

                            &:hover {
                                background: rgba(208, 212, 224, 0.17);
                            }
                        }

                        ul {
                            display: flex;
                            justify-content: center;
                        }
                    }
                }
            }
        }

        #menu-toggle {
            display: none;

            .label-toggle {
                display: none;
            }
        }
    }
}

.logo-img{
    width: 105px
}

.content-desc {
    text-align: center;
    padding-top: 2.5rem;

    h1 {
        font-size: rem(60px);
        line-height: rem(64px);
        font-weight: normal;
    }

    p {
        max-width: 640px;
        line-height: 34px;
        margin: 0 auto;
        font-weight: 300;
        font-size: $font-base;
        padding-top: .4rem;
        padding-bottom: 1.75rem;
    }

    button {
        margin-bottom: 0.9rem;
    }
}

.cover {
    @include background-size(cover);
    background-position: 50% 50%;
    background-repeat: no-repeat
}

a {
    color: $blue;
}

form {

    input[type="text"],
    input[type="number"],
    input[type="email"],
    input[type="tel"],
    input[type="password"],
    textarea {
        font: 300 14px $font;
        margin: 0 auto 20px;
        background: none;
        padding: 0 10px;
        display: block;
        height: 32px;
        width: 100%;
        border: 0;
        border-bottom: 1px solid $yellow;

        @include placeholder {
            color: #555
        }

        &:focus {
            border-bottom-color: $blue
        }
    }

    textarea {
        @include transition(none);
        padding-top: 0.1em;
        line-height: 32px;
        overflow: hidden;
        min-height: 32px;
        resize: none
    }
}

.button,
button {
    vertical-align: middle;
    display: inline-block;
    border-radius: 20px;
    padding: 10px 20px;
    background: #333;
    font-size: 17px;
    color: $light;
    border: 0;

    &:hover {
        background: $primary-green;
    }
}

.get-started {
    width: 200px;
    height: 50px;
    background-color: $primary-green;
    border-radius: 4px;
    color: $light;

    &:hover {
        background: none;
        color: $primary-green;
        border: 1px solid;
    }
}

.controls-slider {
    @include align-items(center);
    @include flexbox();
    margin-bottom: 40px;

    .controls-nav {
        @include flex-basis(220px);

        mark {
            @include user-select(none);
            margin: 20px 0 0;
            cursor: pointer;
            display: block;
            padding: 20px;
            @extend .ani;

            &.is-current-slide {
                box-shadow: 0 0 20px 0 rgba(72, 104, 120, 0.15);
                background-color: rgba(#fff, 0.9);
                position: relative;
                border-radius: 3px;

                &::after {
                    content: '';
                    position: absolute;
                    right: -10px;
                    top: calc(50% - 5px);
                    width: 0;
                    height: 0;
                    border-top: 10px solid transparent;
                    border-left: 10px solid $light;
                    border-bottom: 10px solid transparent;
                    clear: both;
                }
            }
        }

        &.controls-right {
            .is-current-slide {
                &::after {
                    left: -20px;
                    border-top: 10px solid transparent;
                    border-right: 10px solid $light;
                    border-bottom: 10px solid transparent;
                    clear: both;
                }
            }
        }
    }

    .mac-wrap {
        padding-bottom: 80px;
        position: relative;
        @include flex(1);

        &::before {
            background: url(../images/laptop-.png) 50% 0 no-repeat;
            background-size: 100% auto;
            position: absolute;
            right: -60px;
            left: -60px;
            content: '';
            bottom: 0;
            top: 0
        }

        .swiper-container {
            margin: 6.15% 7.6% 5%
        }

        .swiper-slide {
            .cover {
                @include position(absolute);
            }

            video {
                @include position(absolute);
                visibility: hidden;
                background: #000;
                display: block;
                height: 100%;
                @extend .ani;
                width: 100%;
                z-index: 1;
                opacity: 0;

                &.is-playing {
                    visibility: visible;
                    opacity: 1;

                    &+.play-it {
                        display: none;
                    }
                }
            }

            .play-it {
                @include transform(translateX(-50%));
                position: absolute;
                bottom: 20px;
                z-index: 2;
                left: 50%;
            }

            &::after {
                padding-bottom: 62.5%;
                display: block;
                content: '';
            }
        }
    }
}

h2.heading {
    font-size: 32px;
    line-height: 56px;
    position: relative;
    @extend .ani;

    &::after {
        content: ' ';
        position: absolute;
        bottom: 0;
        left: calc(50% - 48px/2);
        height: 2px;
        width: 48px;
        display: block;
        background: $primary-green;
    }
}

.technologies {
    margin: 60px 0;
    background-color: #F9FAFC;
    padding: 10px 0;

    .row {
        @include justify-content(space-between);
        @include align-items(center);
        @include flexbox();

        figure {
            margin: 0 36px;
            padding: 5px;

            &:first-child {
                margin-left: 40px
            }

            &:last-child {
                margin-right: 40px
            }
        }
    }
}

.we-solve {
    text-align: center;

    article {
        @include justify-content(space-around);
        @include transform(translateZ(0));
        @include flexbox();
        padding: 2rem 0;

        div {
            box-shadow: 0 4px 16px 0 rgba(208, 212, 224, 0.3);
            padding: 1.4rem 1rem 0.8rem;
            @include user-select(none);
            background: $light;
            position: relative;
            border-radius: 3px;
            cursor: pointer;
            @extend .ani;
            width: 22%;

            svg g[stroke*="#"] {
                @extend .ani;
            }

            p {
                padding-bottom: 10px;
                line-height: 60px;
                font-weight: 600;
                font-size: 16px;
                color: #485F76;
                @extend .ani
            }

            span {
                font-size: 11px;

                &:before {
                    content: 'show details'
                }
            }

            mark {
                box-shadow: 0 10px 16px 0 rgba(208, 212, 224, .6);
                @include transition(all, .1s);
                left: calc(50% - 39px/2);
                background-color: $light;
                border-radius: 50%;
                position: absolute;
                font-weight: 600;
                font-size: 26px;
                bottom: -18px;
                height: 39px;
                width: 39px;
            }

            &.is-opened {
                svg g[stroke*="#"] {
                    stroke: $primary-green
                }

                mark {
                    box-shadow: 5px 5px 20px 5px rgba(208, 212, 224, .6);
                    @include transform(rotate(45deg))
                }

                span {
                    &:before {
                        content: 'hide details';
                        color: rgba(72, 104, 120, 0.5);
                    }
                }
            }
        }
    }

    .problems-slider {
        padding: 0 0 65px;

        .min-visible {
            display: none
        }

        >div {
            padding: 65px 0 0;
            display: none;
            font-size: 16px;
            line-height: 24px;
            text-align: left;
            justify-content: center;
        }
    }
}

ul.list-points {
    li {
        position: relative;
        line-height: 30px;
        font-size: 16px;

        &::before {
            content: '';
            position: absolute;
            top: 15px;
            height: 5px;
            padding-right: 5px;
            margin-left: -18px;
            background: #1cbc79;
            border-radius: 50%;
        }

        &.inner-level {
            padding: 0 60px;
        }
    }
}

.solutions {
    background-color: #F9FAFC;
    padding-bottom: 3rem;
    text-align: center;

    h2 {
        padding-top: 2.5rem
    }

    .row {
        @include flexbox();
        padding-top: 1rem;

        figure {
            @include flex-basis(100%);
            // padding: 2rem 2.5rem;
            text-align: left;

            &.left {
                padding-top: 2rem;
                padding-left: 3rem;
            }
        }

        article {
            @include flex-basis(80%);
            text-align: left;

            // padding: 8rem 1rem;
            h3 {
                font-size: 26px;
                font-weight: 600;
                line-height: 34px;
            }

            &.left {
                padding-top: 6rem;
                padding-left: 6rem;
            }

            &.right {
                padding-top: 8rem;
                @include flex-basis(100%);

                &:last-child {
                    padding-top: 5rem;
                }
            }
        }
    }
}

.features {
    position: relative;
    margin-top: 40px;
    text-align: center;

    .mac-screen-wrap {
        padding-top: 1rem;

        .screen-slider-top {
            z-index: 1;

            .mac-browser {
                @include justify-content(center);
                @include align-items(center);
                @include flexbox();
                text-align: left;
                margin: 15px 60px;

                .fake-browser-ui {
                    padding-top: 25px;
                    border-radius: 3px 3px 0 0;
                    background: #F6F8FB;
                    display: inline-block;
                    position: relative;
                    line-height: 0;
                    box-shadow: 0 2px 24px 0 rgba(73, 93, 112, 0.3);

                    .frame {
                        display: block;
                        height: 25px;
                        position: absolute;
                        top: 8px;
                        left: 8px;

                        span {
                            height: 9px;
                            width: 9px;
                            border-radius: 8px;
                            background-color: #eee;
                            float: left;
                            margin: 0 0 0 5px;

                            &.red-dot {
                                background: #f36d6d;
                            }

                            &.yellow-dot {
                                background: #f7d84f;
                            }

                            &.green-dot {
                                background: #5dd85d;
                            }
                        }
                    }
                }

                figure {
                    max-width: 777px;
                    @include flex(1);

                    img {
                        display: block;
                        width: 100%;
                    }
                }

                figcaption {
                    @include flex-basis(280px);
                    margin-left: 80px;

                    h3 {
                        font-size: 24px;
                        margin: 15px 0 15px -20px
                    }
                }
            }

            .swiper-button-black {
                @include prefixer(transform-origin, 50% 50% 0);
                @include transform(scale(.6));

                &.swiper-button-prev {
                    left: 20px
                }

                &.swiper-button-next {
                    right: 20px
                }
            }
        }
        
        .thumbs-wrapper{
            position: relative;
           .nav-arrows{
               position: absolute;
               width: 100%;
               top: 50%;
               
               .swiper-button-next{
                   right: 20px;
                   transform: scale(0.6);
               }
               
               .swiper-button-prev{
                   left: 20px;
                   transform: scale(0.6);
               }
            } 
        }

        .screen-slider-thumbs {
            padding: 30px 5px;
            z-index: 0;
            display: inline-flex;
            font-size: 12px;
            overflow: auto;
            max-width: 90%;
            scrollbar-width: none !important;
            scroll-behavior: smooth;
            &::-webkit-scrollbar {
              display: none;
                    
            }            
           
            
            
            .swiper-wrapper {
                margin-left: calc(-25% + 164.5px);
            }

            .swiper-slide {
                box-shadow: 0 5px 14px 3px rgba(208, 212, 224, .6);
                @include justify-content(center);
                @include flex-direction(column);
                @include align-items(center);
                @include inline-flex();
                background: $light;
                cursor: pointer;
                color: #485F76;
                height: 100px;
                width: 130px;
                margin: 3px;
                @extend .ani;

                a {
                    width: 40px;
                    margin: 5px;
                }

                &:hover {
                    color: $primary-green;
                }

                &.swiper-slide-active {
                    box-shadow: 0 4px 16px 0 rgba(208, 212, 224, 0.9);
                    color: $primary-green;

                    &:before {
                        border-color: $primary-green
                    }
                }
            }
        }
    }

    .features-nav {
        @include flexbox();
    }
}

.social {
    @include flexbox();
    @include justify-content(flex-end);

    li {
        margin: 5px 15px 0;
        cursor: pointer;
        @extend .ani;
        align-self: center;
        background-repeat: no-repeat;
        background-position: 50% 50%;

        &.social-twitter {
            background-image: url(../images/social/twitter_state.svg);
        }

        &.social-slack {
            background-image: url(../images/social/slack_state.svg);
        }

        &.social-youtube {
            background-image: url(../images/social/youtube_state.svg);
        }

        &.social-github {
            background-image: url(../images/social/github_state.svg);
        }

        &:first-child:hover {
            cursor: default;
            color: #fff;
        }

        &:hover {
            color: $primary-green;
        }

        a {
            display: block;
            padding: 0 15px;
            width: 25px;
            height: 30px;
            text-decoration: none;
            line-height: 90px;
            font-size: 12px;
            color: $light;

            &:hover {
                background: none !important
            }
        }
    }
}

ul.community {
    li.social-youtube {
        background-image: url(../images/social/youtube_state_light.svg);
    }
}

footer {
    background: $dark-grey;
    color: $light;
    margin-top: 25px;

    article {
        padding: 3.5rem 0 3.2rem;
        text-align: center;
        border-bottom: 1px solid;
        border-color: rgba(249, 250, 251, 0.06);

        h2 {
            margin: 0 auto;
            font-size: 30px;
            font-weight: 300;
            line-height: 40px;
        }

        button {
            margin-top: 40px;
        }
    }

    .logo-wrap {
        padding: 1rem;
        @include flexbox();
        justify-content: center;

        // border-bottom: 1px solid;
        // border-color: rgba(249,250,251,.06);
        span {
            font-size: 14px;
            align-self: center;
        }

        div {
            flex: 1;
            align-self: center;

            a {
                display: inline-flex;
                width: 60px;
                height: 30px;
                vertical-align: bottom;
            }
        }
    }

    .asf-container {
        border-bottom: 1px solid;
        border-color: rgba(249, 250, 251, .06);
        padding-top: 20px;
        color: #9199a0;
        font-size: 12px;
    }

    .copyright {
        text-align: center;
        color: #9199a0;
        font-size: 12px;
    }
}


.overlay {
    @include transition(all, .2s);
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    position: fixed;
    height: 100%;
    z-index: 5;
    width: 0;
    left: -1px;
    top: 0;

    .overlay-wrap {
        @include flexbox();
        text-align: center;

        a {
            padding: 8px;
            text-decoration: none;
            font-size: 36px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

        .sources {
            background-color: $light;
            position: relative;
            @include flex(1);
            color: #485F76;
            height: 100vh;

            .close-butt, .close-butt-download {
                position: absolute;
                font-size: 46px;
                right: 40px;
                top: 20px;
                cursor: pointer;

                &:hover,
                &:focus {
                    color: $primary-green;
                }
            }

            .datalab-logo {
                padding: 56px;
                margin-bottom: 120px;
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-image: url(../images/logo_black.svg);
                background-size: 150px; 
            }

            h2 {
                line-height: 26px;
                font-weight: 600;
                font-size: 18px;
            }

            p {
                line-height: 24px;
                font-size: 14px;
            }

            div {
                width: 250px;
                margin: 0 auto;
                margin-bottom: 40px;
                height: 96px;

                .git-ref,
                .apache-ref {
                    height: 100%;
                    background-size: 50%;
                    background-repeat: no-repeat;
                    background-position: center;
                    padding: 15px;
                    @extend .ani;

                    &.git-ref {
                        border: 1px solid #0366D6;
                        background-image: url(../images/sources/git_logo.png);
                    }

                    &.apache-ref {
                        border: 1px solid #C41742;
                        background-image: url(../images/sources/apache_logo.png);
                    }
                }
            }

            mark {
                box-shadow: 5px 5px 20px 5px rgba(33, 33, 35, 0.2);
                background-color: #FDFDFE;
                position: absolute;
                border-radius: 50%;
                text-align: center;
                line-height: 24px;
                font-weight: 400;
                color: #4B6279;
                font-size: 20px;
                padding: 18px;
                height: 60px;
                right: -30px;
                width: 60px;
                top: 45%;
            }
        }

        .contact-us {
            display: flex;
            flex-direction: column;
            justify-content: center;
            @include flex(1);
            color: $light;
            background-image: url('../images/sources/background_people.png');
            background-repeat: no-repeat;
            background-size: cover;
            height: 100vh;

            .epam-logo {
                padding-top: 30px;
                margin-bottom: 140px;
            }

            h2 {
                text-align: center;
                line-height: 26px;
                font-weight: 300;
                max-width: 400px;
                font-size: 20px;
                margin: 0 auto;
            }

            form {
                padding-top: 25px;
                margin: 0 auto;
                width: 370px;

                label {
                    position: relative;
                    display: block;

                    span {
                        position: absolute;
                        top: 10px;
                        left: 15px;
                        display: block;
                        width: 30px;
                        height: 30px;
                        background-size: 60px;
                        z-index: 20;
                        background-image: url(../images/login-icons.png);

                        &.user-icon {
                            background-position: 0 0;
                        }

                        &.email-icon {
                            background-position: 30px 0;
                        }
                    }

                    input {
                        background-color: $light;
                        border-radius: 5px;
                        padding: 25px 60px;
                        color: #9CADBE;
                        border: none;
                    }
                }

                button {
                    background-color: $primary-green;
                    border: 1px solid $primary-green;
                    border-radius: 5px;
                    color: $light;
                    padding: 14px;
                    width: 100%;

                    &:hover,
                    &:active {
                        background-color: rgba(0, 0, 0, .2);
                        color: $primary-green;
                    }

                    &:active {
                        padding: 15px;
                    }
                }
            }
        }
    }
}

.last-thumb{
    width: 0 !important;
    opacity: 0;
}


@media only screen and (min-width: 767px) {
    .social {
        .social-twitter {
            &:hover {
                background-image: url(../images/social/twitter.svg);
            }
        }

        .social-slack {
            &:hover {
                background-image: url(../images/social/slack.svg);
            }
        }

        .social-youtube {
            &:hover {
                background-image: url(../images/social/youtube.svg);
            }
        }

        .social-github {
            &:hover {
                background-image: url(../images/social/github.svg);
            }
        }
    }

    .overlay {
        .sources {
            .git-ref:hover {
                background-color: #0366D6;
                background-image: url(../images/sources/git_logo_hover.png) !important;
            }

            .apache-ref:hover {
                background-image: url(../images/sources/apache_logo_hover.png) !important;
                background-color: #C41742;
            }
        }
    }
}

@media (max-width: 1500px) {
    .features {
        .mac-screen-wrap {
            .screen-slider-thumbs {
                .swiper-slide {
                    height: 150px;
                    width: 110px;
                    flex-direction: column;
                    justify-content: flex-start;

                    a {
                        margin-top: 35px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px) {

    .controls-nav,
    .technologies {
        display: none;
    }

    .we-solve {
        article {
            div {
                width: 25%;

                p {
                    padding-bottom: 35px;
                    line-height: 34px;
                }

                span {
                    position: absolute;
                    left: 35%;
                    bottom: 30px;
                }
            }
        }
    }

    .solutions {
        padding-bottom: 0;

        .row {
            padding-top: 0;

            figure {
                flex-basis: 80%;
                padding: 1rem;

                &.left {
                    padding: 1rem;
                }

                &.right {
                    padding-left: 0;
                }
            }

            article {
                &.left {
                    padding: 1rem;
                }

                &.right {
                    padding: 2rem;

                    &:last-child {
                        padding-top: 2rem;
                    }
                }
            }
        }
    }

    .features {
        .mac-screen-wrap {
            .screen-slider-thumbs, .thumbs-wrapper {
                display: none;
            }

            .screen-slider-top {
                .mac-browser {
                    margin: 15px 20px;

                    figcaption {
                        flex-basis: 60%;
                        margin-left: 35px;

                        h3 {
                            font-size: 20px;
                            margin-bottom: 15px;
                            font-weight: 400;
                        }
                    }
                }

                .swiper-button-black {
                    &.swiper-button-prev {
                        top: 175px;
                        left: 0
                    }

                    &.swiper-button-next {
                        top: 175px;
                        right: 0
                    }
                }
            }
        }
    }
}

@media (max-width: 900px) {
    #wrap>section {
        position: relative;
        padding-top: 60px;

        >h2 {
            // -webkit-backface-visibility: hidden;
            position: absolute;
            right: 0;
            left: 0;
            top: 0;
        }

        &.scroll-active {
            >h2 {
                position: fixed;
                background: #fff;
                z-index: 3;
                box-shadow: 0 0 1px 4px #fff;
                font-size: 16px;
                line-height: 36px;
                padding-top: 0;
            }
        }
    }

    .abstract2 {
        top: 300px;
    }

    h2.heading {
        font-size: 26px;
        line-height: 52px;
        padding-top: .5rem;
    }

    header {
        .logo {
            position: absolute;
            top: 20px;
            left: 30px;
        }

        .menu {
            margin-top: 100px;
            display: block;
            height: 0;
            list-style-type: none;
            opacity: 0;
            text-align: center;
            @include transition(all, .5s);
            width: 100%;
            visibility: hidden;
            overflow: hidden;
            position: relative;

            ul.community {
                padding: 20px 0;

                ul.social {
                    justify-content: space-around;

                    li {
                        margin: 0;
                    }
                }
            }

            .get-started-nav {
                margin-top: 10px;

                a {
                    padding: 5px 15px;
                    text-align: center;
                }
            }

            >li {
                display: inline-block;
                font-size: 1.2em;
                text-align: left;
                border-top: none;
                width: 50%;
                margin: 0;
                vertical-align: top;

                a {
                    padding: 15px 10px;
                    color: $primary-green;
                }

                &.has-children {
                    li {
                        border: none;
                    }

                    a::before,
                    a::after {
                        display: none;
                    }
                }

                .sub-menu {
                    width: auto;
                    visibility: visible;
                    opacity: 1;
                    position: static;
                    background: none;
                    box-shadow: none;

                    a {
                        font-weight: 300;
                        color: $primary-green;
                        padding-left: 35px;

                        &:hover {
                            background: none;
                        }
                    }

                    &::before {
                        display: none;
                    }
                }

                &+li {
                    margin-left: 0;
                }
            }
        }

        #menu-toggle:checked~ul {
            opacity: 1;
            height: 100vh;
            visibility: visible;
            position: relative
        }

        .label-toggle {
            position: absolute;
            right: 30px;
            top: 40px;
            display: block;
            height: 35px;
            width: 35px;
            cursor: pointer;

            span {
                display: block;
                width: 33px;
                height: 4px;
                margin-bottom: 5px;
                position: relative;
                background: $primary-green;
                border-radius: 3px;
                z-index: 1;
                transform-origin: 4px 0;
                transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
                    opacity 0.55s ease;
            }
        }
    }
}
@media (max-width: 767px) {    

    .content-desc {
        padding-top: .5rem;

        h1 {
            font-size: rem(34px);
            line-height: rem(38px);
        }

        p {
            font-size: rem(20px);
        }
    }

    .controls-slider {
        .mac-wrap {
            padding-bottom: 45px;
        }
    }

    .we-solve {
        .row {
            display: none;
        }

        .problems-slider {
            .min-visible {
                display: block;
                text-align: center;

                p {
                    font-size: 22px;
                    color: $primary-green;
                }

                img {
                    margin: 15px;
                }
            }

            >div {
                display: block;
                padding: 25px 0 0;

                ul.list-points {
                    padding: 0 40px;

                    li {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .features {
        margin-top: 10px;

        .screen-slider-top div[class^="swiper-"] {
            height: auto !important;
            display: block !important;
            @include transform(none !important);
        }
    }

    footer {
        article {
            padding: .5rem;

            h2 {
                font-size: 16px;
                line-height: 26px;
            }

            .get-started {
                width: 160px;
                height: 46px;
                margin-top: 10px;
            }
        }
    }

    .overlay {
        background-image: url(../images/sources/background_people.png);
        background-repeat: no-repeat;
        background-size: cover;

        .overlay-wrap {
            .sources {
                background: none;
                color: $light;

                .datalab-logo {
                    margin-bottom: 50px;
                    background-image: url(../images/logo_white.svg);
                }

                mark {
                    display: none;
                }
            }

            .contact-us {
                display: none;
            }
        }
    }

    .content-desc.animatedParent .animated {
        @include prefixer(transition-property, none !important);
        @include prefixer(animation, none !important);
        @include transform(none !important);
        opacity: 1
    }
}

@media (max-width: 567px) {
    .abstract1 {
        left: 0
    }

    header {
        .menu {
            .get-started-nav {
                margin-top: 25px;
            }

            >li {
                display: block;
                font-size: 1.2em;
                text-align: left;
                border-top: none;
                width: 100%;
            }
        }
    }

    .controls-slider {
        .mac-wrap {
            padding-bottom: 15px;

            &::before {
                right: -30px;
                left: -30px;
            }
        }
    }

    .solutions {
        padding-bottom: 0;

        h2 {
            padding-top: 1rem;
            margin-bottom: 1rem;
        }

        .row {
            flex-wrap: wrap;

            &:first-of-type {
                padding-top: 40px;
            }

            figure {
                padding: 0;
                flex-basis: 100%;

                img {
                    padding: 50px;
                }

                &.left {
                    order: 1;
                    padding: 0;
                }

                &.right {
                    padding: 0;
                }
            }

            article {
                flex-basis: 100%;

                h3 {
                    font-size: 24px;
                    font-weight: 300;
                    color: $primary-green;
                    text-align: center;
                }

                .list-points {
                    padding-left: 30px;

                    li {
                        font-size: 18px
                    }
                }

                &.left {
                    padding: 0;
                }

                &.right {
                    padding: 0;

                    &:last-child {
                        padding-top: 0;
                    }
                }
            }
        }
    }

    .features {
        .mac-screen-wrap {
            .screen-slider-top {
                .mac-browser {
                    flex-wrap: wrap;
                    margin: 10px;

                    figcaption {
                        margin-left: 30px;
                        flex-basis: 90%;

                        h3 {
                            margin: 10px 0;
                            color: $primary-green;
                            font-size: 24px;
                            font-weight: 300;
                        }

                        .list-points {
                            li {
                                font-size: 18px;

                            }
                        }
                    }
                }

                .swiper-button-black {
                    &.swiper-button-prev {
                        top: 300px;
                        left: 0
                    }

                    &.swiper-button-next {
                        top: 300px;
                        right: 0
                    }
                }
            }
        }
    }

    footer {
        .row {
            flex-wrap: wrap;

            div {
                order: 1;
                flex-basis: 100%;
                text-align: center;
            }

            ul.social {
                flex-basis: 100%;
                justify-content: center;
                margin-bottom: 25px;
            }
        }
    }
}

.full-height{
    height: 80vh;
    z-index: -1;
}

.releases-list{
    width: 80%;
    margin: 0 auto;
    &-item{
        padding: 10px 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid lightgray;
        text-aline: left;

        .version{
            flex: 7;
            text-align: left;
        }

        .link{
            flex: 2;
            text-align: left;
        }

        &.header{
            font-weight: 700;
        }
        span{
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}

#download-overlay.overlay {
    background-color: #fff;

    .overlay-wrap {
        .close-butt-download {
            position: absolute;
            font-size: 46px;
            right: calc(50% + 40px);
            cursor: pointer;
            z-index: 999;

            &:hover,
            &:focus {
                color: $primary-green;
            }
        }

        article {
            width: 50%;

            a {
                font-size: 15px;
                display: inline;
                color: #0000EE;
                font-weight: 500;
                padding: 0;
            }

            &.content-desc p {
                padding-top: 1.4rem;
                padding-bottom: 0.5rem;
            }
        }
    }
}
