[Unit]
Description=Tensorflow Tensorboard

[Service]
Type=simple
PIDFile=/var/run/tensorboard.pid
ExecStart=/bin/bash -c "export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/opt/cudnn/lib64:/usr/local/cuda/lib64; tensorboard --logdir=/var/log/tensorboard --port 6006"
ExecStop=/bin/bash -c "for i in $(ps aux | grep 'tensorboard' | grep -v grep | awk '{print $2}'); do kill -9 $i; done"
User=OS_USR
Group=OS_USR
WorkingDirectory=/home/OS_USR

[Install]
WantedBy=multi-user.target