/*!
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/** Keyframes **/
@keyframes show {
  from { opacity: 0; transform: translateY(-25%); }
  20% { opacity: 0; transform: translateY(-20%); }
  to { opacity: 1; transform: translateY(0%); }
}
@keyframes hide {
  from { opacity: 1; transform: translateY(0%); }
  35% { opacity: 0; transform: translateY(-20%)}
  to { opacity: 0; transform: translateY(-25%); }
}
@keyframes showSlideSide {
  from { opacity: 0; transform: translateX(150%); }
  35% { opacity: 0; transform: translateX(100%); }
  to { opacity: 1; transform: translateX(0%); }
}
@keyframes hideSlideSide {
  from { opacity: 1; transform: translateX(0%); }
  35% { opacity: 0; }
  to { opacity: 0; transform: translateX(150%); }
}

.modal-xs { width: 375px; }
.modal-sm { width: 525px; }
.modal-md { width: 545px; }
.modal-lg { width: 580px; }
.modal-xl-s { width: 660px; }
.modal-xl { width: 900px; }
.modal-xxl { width: 1000px; }

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  background-color: #000;
  transition: .3s ease-in-out;
  opacity: .5;
  filter: alpha(opacity=50);
}

.dialog {
  color: #718ba6;
  font-size: 14px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  justify-content: center;  
  outline: 0;
}
.dialog:not(.in) {
  visibility: hidden;
}
.dialog.in {
  visibility: visible;
  display: flex
}

.dialog.in .dialog-container {
  animation-duration: .35s;
  animation-fill-mode: forwards;
  animation-name: show;
  animation-timing-function: ease;
}

.dialog.out .dialog-container {
  animation-duration: .35s;
  animation-fill-mode: forwards;
  animation-name: hide;
  animation-timing-function: ease;
}

/* .dialog.in .dialog-container.install-libs {
  animation-duration: .35s;
  animation-fill-mode: forwards;
  animation-name: showSlideSide;
  animation-timing-function: ease;
  width: 100%;
}

.dialog.in .dialog-container.install-libs .dialog-content {
  height: 100vh;
  width: 100%;
}

.dialog.out .dialog-container.install-libs {
  animation-duration: .25s;
  animation-fill-mode: forwards;
  animation-name: hideSlideSide;
  animation-timing-function: ease;
} */

.dialog.in .dialog-container.install-libraries {
  animation-duration: .35s;
  animation-fill-mode: forwards;
  animation-name: showSlideSide;
  animation-timing-function: ease;
  width: 100%;
  height: 100%;
}

.dialog.in .dialog-container.install-libraries .dialog-content {
  width: 100%;
  height: 100%;
}
.install-libraries .dialog-body {
  height: calc(100% - 50px);
}
.install-libraries .mat-tab-body-wrapper {
  flex-grow: 1;
}

.install-libraries .mat-tab-body {
  display: flex !important;
  flex-direction: column;
}

.install-libraries .mat-tab-body-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}
.install-libraries .dialog-body .content-box {
  padding: 35px 50px 45px;
  height: 100%;
}

.dialog.out .dialog-container.install-libraries {
  animation-duration: .35s;
  animation-fill-mode: forwards;
  animation-name: hideSlideSide;
  animation-timing-function: ease;
}

.dialog-container {
  flex-direction: column;
  align-items: center;
  align-self: center;
  list-style: none;
  padding: 0;
  margin: 0;
  transition: all .35s linear .2s;
}


 
.modal-footer .btn {
  margin-top: 0;
}



.detail-header {
  border-bottom: 0;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  td {
    border: 1px solid #edf1f5;
    text-align: center;
    padding: 20px;
    text-align: center !important;
    background: #fff;
    &:first-child {
      background: #f6fafe;
      font-size: 16px;
      font-weight: 600;
      color: #455c74;
      text-overflow: ellipsis;
      overflow: hidden;
      cursor: default;
    }
    &.tooltip-wrap {
      .hint-title {
        font-size: 16px;
        font-weight: 600;
        color: #455c74;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.detail-info {
  p {
    font-weight: 400;
    margin-bottom: 10px;
    small {
      font-size: 12px;
      font-weight: 400;
    }
  }
  span {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }
  .links_block {
    padding-left: 25px;
  }
  .time_info {
    margin-top: 15px;
  }
}

.create-cluster {
  .dialog-header {
    padding-left: 45px !important;
  }
}

.modal-content {
  display: block;
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 3px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
  box-shadow: 0 3px 9px rgba(0,0,0,.5);
  .danger_color {
    padding-left: 5px;
    font-size: 12px;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    border-color: #d9534f !important;
  }
}