<?xml version='1.0' encoding='UTF-8'?>
<project>
    <actions/>
    <description>Create new EMR Cluster</description>
    <keepDependencies>false</keepDependencies>
    <properties>
        <hudson.model.ParametersDefinitionProperty>
            <parameterDefinitions>
                <hudson.model.StringParameterDefinition>
                    <name>Service_base_name</name>
                    <description></description>
                    <defaultValue></defaultValue>
                </hudson.model.StringParameterDefinition>
                <hudson.model.StringParameterDefinition>
                    <name>Nodes_Count</name>
                    <description>Number of nodes the new cluster will consist of</description>
                    <defaultValue></defaultValue>
                </hudson.model.StringParameterDefinition>
                <hudson.model.ChoiceParameterDefinition>
                    <name>Master_node_size</name>
                    <description></description>
                    <choices class="java.util.Arrays$ArrayList">
                        <a class="string-array">
                            <string>t2.medium</string>
                            <string>m3.xlarge</string>
                            <string>m3.2xlarge</string>
                            <string>m4.large</string>
                            <string>m4.xlarge</string>
                            <string>m4.2xlarge</string>
                            <string>m4.4xlarge</string>
                            <string>m4.10xlarge</string>
                            <string>m1.small</string>
                            <string>m1.medium</string>
                            <string>m1.large</string>
                            <string>m1.xlarge</string>
                            <string>c3.xlarge</string>
                            <string>c3.2xlarge</string>
                            <string>c3.4xlarge</string>
                            <string>c3.8xlarge</string>
                            <string>c4.large</string>
                            <string>c4.xlarge</string>
                            <string>c4.2xlarge</string>
                            <string>c4.4xlarge</string>
                            <string>c4.8xlarge</string>
                            <string>c1.medium</string>
                            <string>c1.xlarge</string>
                            <string>cc2.8xlarge</string>
                            <string>g2.2xlarge</string>
                            <string>cg1.4xlarge</string>
                            <string>r3.xlarge</string>
                            <string>r3.2xlarge</string>
                            <string>r3.4xlarge</string>
                            <string>r3.8xlarge</string>
                            <string>m2.xlarge</string>
                            <string>m2.2xlarge</string>
                            <string>m2.4xlarge</string>
                            <string>cr1.8xlarge</string>
                            <string>i2.xlarge</string>
                            <string>i2.2xlarge</string>
                            <string>i2.4xlarge</string>
                            <string>i2.8xlarge</string>
                            <string>d2.xlarge</string>
                            <string>d2.2xlarge</string>
                            <string>d2.4xlarge</string>
                            <string>d2.8xlarge</string>
                            <string>hi1.4xlarge</string>
                            <string>hs1.8xlarge</string>
                        </a>
                    </choices>
                </hudson.model.ChoiceParameterDefinition>
                <hudson.model.ChoiceParameterDefinition>
                    <name>Slave_node_size</name>
                    <description></description>
                    <choices class="java.util.Arrays$ArrayList">
                        <a class="string-array">
                            <string>t2.medium</string>
                            <string>m3.xlarge</string>
                            <string>m3.2xlarge</string>
                            <string>m4.large</string>
                            <string>m4.xlarge</string>
                            <string>m4.2xlarge</string>
                            <string>m4.4xlarge</string>
                            <string>m4.10xlarge</string>
                            <string>m1.small</string>
                            <string>m1.medium</string>
                            <string>m1.large</string>
                            <string>m1.xlarge</string>
                            <string>c3.xlarge</string>
                            <string>c3.2xlarge</string>
                            <string>c3.4xlarge</string>
                            <string>c3.8xlarge</string>
                            <string>c4.large</string>
                            <string>c4.xlarge</string>
                            <string>c4.2xlarge</string>
                            <string>c4.4xlarge</string>
                            <string>c4.8xlarge</string>
                            <string>c1.medium</string>
                            <string>c1.xlarge</string>
                            <string>cc2.8xlarge</string>
                            <string>g2.2xlarge</string>
                            <string>cg1.4xlarge</string>
                            <string>r3.xlarge</string>
                            <string>r3.2xlarge</string>
                            <string>r3.4xlarge</string>
                            <string>r3.8xlarge</string>
                            <string>m2.xlarge</string>
                            <string>m2.2xlarge</string>
                            <string>m2.4xlarge</string>
                            <string>cr1.8xlarge</string>
                            <string>i2.xlarge</string>
                            <string>i2.2xlarge</string>
                            <string>i2.4xlarge</string>
                            <string>i2.8xlarge</string>
                            <string>d2.xlarge</string>
                            <string>d2.2xlarge</string>
                            <string>d2.4xlarge</string>
                            <string>d2.8xlarge</string>
                            <string>hi1.4xlarge</string>
                            <string>hs1.8xlarge</string>
                        </a>
                    </choices>
                </hudson.model.ChoiceParameterDefinition>
                <hudson.model.StringParameterDefinition>
                    <name>Service_role</name>
                    <description></description>
                    <defaultValue>EMR_DefaultRole</defaultValue>
                </hudson.model.StringParameterDefinition>
                <hudson.model.StringParameterDefinition>
                    <name>EMR_EC2_role</name>
                    <description></description>
                    <defaultValue>EMR_EC2_DefaultRole</defaultValue>
                </hudson.model.StringParameterDefinition>
                <hudson.model.ChoiceParameterDefinition>
                    <name>Release_label</name>
                    <description></description>
                    <choices class="java.util.Arrays$ArrayList">
                        <a class="string-array">
                            <string>emr-4.3.0</string>
                            <string>emr-4.6.0</string>
                            <string>emr-4.8.0</string>
                            <string>emr-5.0.0</string>
                            <string>emr-5.0.3</string>
                        </a>
                    </choices>
                </hudson.model.ChoiceParameterDefinition>
                <hudson.model.StringParameterDefinition>
                    <name>Notebook_name</name>
                    <description>Name of the Notebook server</description>
                    <defaultValue></defaultValue>
                </hudson.model.StringParameterDefinition>
                <hudson.model.StringParameterDefinition>
                    <name>User_name</name>
                    <description></description>
                    <defaultValue></defaultValue>
                </hudson.model.StringParameterDefinition>
                <hudson.model.StringParameterDefinition>
                    <name>SSH_Key_Name</name>
                    <description></description>
                    <defaultValue>BDCC-DSS-POC</defaultValue>
                </hudson.model.StringParameterDefinition>
                <hudson.model.StringParameterDefinition>
                    <name>Timeout</name>
                    <description>Timeout for EMR during build. Not mandatory</description>
                    <defaultValue>1500</defaultValue>
                </hudson.model.StringParameterDefinition>
                <hudson.model.StringParameterDefinition>
                    <name>Region</name>
                    <description></description>
                    <defaultValue>us-west-2</defaultValue>
                </hudson.model.StringParameterDefinition>
            </parameterDefinitions>
        </hudson.model.ParametersDefinitionProperty>
    </properties>
    <scm class="hudson.scm.NullSCM"/>
    <canRoam>true</canRoam>
    <disabled>false</disabled>
    <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
    <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
    <triggers/>
    <concurrentBuild>false</concurrentBuild>
    <builders>
        <hudson.tasks.Shell>
            <command>rand=`openssl rand -hex 10`;
                sudo docker run -i -v /project_images/${SSH_Key_Name}.pem:/root/keys/${SSH_Key_Name}.pem -v /home/ubuntu:/response -e "request_id=$rand" -e &quot;edge_user_name=$User_name&quot; -e &quot;service_role=$Service_role&quot; -e &quot;ec2_role=$EMR_EC2_role&quot; -e &quot;emr_version=$Release_label&quot; -e &quot;emr_master_instance_type=$Master_node_size&quot; -e &quot;emr_slave_instance_type=$Slave_node_size&quot;  -e &quot;emr_instance_count=$Nodes_Count&quot; -e &quot;emr_timeout=$Timeout&quot; -e &quot;creds_region=$Region&quot; -e &quot;conf_service_base_name=$Service_base_name&quot; -e &quot;notebook_name=$Notebook_name&quot; -e &quot;creds_key_name=$SSH_Key_Name&quot; docker.epmc-bdcc.projects.epam.com/dlab-aws-emr --action create</command>
        </hudson.tasks.Shell>
    </builders>
    <publishers/>
    <buildWrappers/>
</project>