/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.guide-wrapper {
  font-family: Trebuchet MS, sans-serif;
  width: 60%;
  margin: 0 auto;
}

.guide-wrapper p {
  margin-bottom: 30px;
}

.guide-wrapper h3,
.guide-wrapper h2 {
  margin-top: 50px;
  margin-bottom: 25px;
}

.guide-wrapper ul {
  list-style: none;
}

.guide-wrapper ul h3 {
  margin-left: -40px;
}

.guide-wrapper ul li {
  position: relative;
  line-height: 30px;
}

.guide-wrapper ul li::before {
  position: absolute;
  margin-left: -25px;
  padding-right: 12px;
  content: '';
  height: 12px;
  display: block;
  top: 10px;
  background: #31708f;
  border-radius: 30%;
}

.guide-wrapper img {
  display: block;
  margin: 50px auto;
}

.code-block {
  line-height: 30px;
  background: #333;
  color: #fff;
  padding: 10px;
  border: 2px solid #ccc;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: -30px;
}

.txt-color-green {
  color: #589d59;
}

.txt-color-yellow {
  color: #e1e155;
  font-style: italic;
}
