<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<section class="table-wrapper">
  <table mat-table [dataSource]="reportData" class="data-grid reporting mat-elevation-z6">

    <ng-container matColumnDef="name" sticky>
      <th mat-header-cell *matHeaderCellDef class="env_name"> Environment name </th>
      <td mat-cell *matCellDef="let element"> {{element[DICTIONARY.billing.dlabId]}} </td>
      <td mat-footer-cell *matFooterCellDef> Total </td>
    </ng-container>

    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef class="th_user"> User </th>
      <td mat-cell *matCellDef="let element"> {{element.user}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef class="th_type"> Resource Type </th>
      <td mat-cell *matCellDef="let element"> {{element[DICTIONARY.billing.resourceType]}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef class="th_status"> Status </th>
      <td mat-cell *matCellDef="let element">
        <span class="status" ngClass="{{ element.status.toLowerCase() || '' }}"
          *ngIf="element.status">{{ element.status.toLowerCase() }}</span>
        <span *ngIf="!element.status">N/A</span>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="shape">
      <th mat-header-cell *matHeaderCellDef class="th_shape"> {{ DICTIONARY.instance_size}} </th>
      <td mat-cell *matCellDef="let element">
        <span [outerHTML]="element[DICTIONARY.billing.instance_size] | lineBreak"></span>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="service">
      <th mat-header-cell *matHeaderCellDef class="service">{{ DICTIONARY.service}}</th>
      <td mat-cell *matCellDef="let element">
        {{ element[DICTIONARY.billing.service] }}
        <span *ngIf="element.resource_type">({{ element.resource_type }})</span>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="charge" stickyEnd>
      <th mat-header-cell *matHeaderCellDef class="th_charges"> Service Charges </th>

      <td mat-cell *matCellDef="let element">
        {{ element[DICTIONARY.billing.cost] }} {{ element[DICTIONARY.billing.currencyCode] }}
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <span *ngIf="reportData?.length">{{ fullReport[DICTIONARY.billing.costTotal] }}
          {{ fullReport[DICTIONARY.billing.currencyCode] }}</span>
      </td>
    </ng-container>

    <!-- ----------------FILTER -->
    <ng-container matColumnDef="name-filter" sticky>
      <th mat-header-cell *matHeaderCellDef>
        <input #nameFilter type="text" placeholder="Filter by environment name" class="form-control filter-field"
          [value]="filtered?.dlab_id" (input)="filteredReportData.dlab_id = $event.target.value" />
      </th>
    </ng-container>
    <ng-container matColumnDef="user-filter">
      <th mat-header-cell *matHeaderCellDef>
        <multi-select-dropdown *ngIf="filterConfiguration" (selectionChange)="onUpdate($event)" [type]="'user'"
          [items]="filterConfiguration.user" [model]="filteredReportData.user"></multi-select-dropdown>
      </th>
    </ng-container>
    <ng-container matColumnDef="type-filter">
      <th mat-header-cell *matHeaderCellDef>
        <multi-select-dropdown *ngIf="filterConfiguration" (selectionChange)="onUpdate($event)" [type]="'resource_type'"
          [items]="filterConfiguration.resource_type" [model]="filteredReportData.resource_type">
        </multi-select-dropdown>
      </th>
    </ng-container>
    <ng-container matColumnDef="status-filter">
      <th mat-header-cell *matHeaderCellDef>
        <multi-select-dropdown *ngIf="filterConfiguration" (selectionChange)="onUpdate($event)" [type]="'status'"
          [items]="filterConfiguration.status" [model]="filteredReportData.status"></multi-select-dropdown>
      </th>
    </ng-container>
    <ng-container matColumnDef="shape-filter">
      <th mat-header-cell *matHeaderCellDef>
        <multi-select-dropdown *ngIf="filterConfiguration" (selectionChange)="onUpdate($event)"
          [type]="[DICTIONARY.billing.instance_size]" [items]="filterConfiguration[DICTIONARY.billing.instance_size]"
          [model]="filteredReportData[DICTIONARY.billing.instance_size]"></multi-select-dropdown>
      </th>
    </ng-container>
    <ng-container matColumnDef="service-filter">
      <th mat-header-cell *matHeaderCellDef>
        <multi-select-dropdown *ngIf="filterConfiguration" (selectionChange)="onUpdate($event)"
          [type]="[DICTIONARY.billing.service_filter_key]"
          [items]="filterConfiguration[DICTIONARY.billing.service_filter_key]"
          [model]="filteredReportData[DICTIONARY.billing.service_filter_key]"></multi-select-dropdown>
      </th>
    </ng-container>
    <ng-container matColumnDef="actions" stickyEnd>
      <th mat-header-cell *matHeaderCellDef>
        <div class="actions">
          <button mat-icon-button class="btn reset" (click)="resetFiltering(); isFiltered = !isFiltered">
            <i class="material-icons">close</i>
          </button>

          <button mat-icon-button class="btn apply" (click)="filter_btnClick()">
            <i class="material-icons">done</i>
          </button>
        </div>
      </th>
    </ng-container>
    <ng-container matColumnDef="placeholder">
      <td mat-footer-cell *matFooterCellDef colspan="7" class="info">
        No data available
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>

    <tr mat-header-row *matHeaderRowDef="displayedFilterColumns; sticky: true" class="filter-row"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="DATA"></tr>

    <tr [hidden]="!reportData?.length" mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    <tr [hidden]="reportData?.length" mat-footer-row *matFooterRowDef="['placeholder']"></tr>
  </table>
</section>
