/*!
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.bucket-browser {
  .path{
    margin: 0 4px 10px 4px;
    padding: 4px 4px 4px 20px;
    color: rgba(0,0,0,.87);

    .url{
      font-weight: 600;
    }
  }

  bottom: 0;
  .dialog-content{
    padding: 0 35px;
  }

  .content-box {
    height: 500px;

  }

  .submit{
    display: flex;

    .butt{
      position: relative;
      overflow: hidden;
      margin: 10px;

      input[type="file"] {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 0;
      }
    }
  }

  .text-center{
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
  }
}

.backet-wrapper{
  min-height: 450px;
  border: 2px solid rgba(0,0,0,.12);
  border-radius: 5px;
  display: flex;

  .navigation{
    flex: 1;
    border-right: 2px solid rgba(0,0,0,.12);
    max-height: 500px;
    overflow: auto;
    .folder-tree{

      .folder{
        line-height: 30px;
      }
    }
  }

  .directory{
    max-height: 500px;
    overflow: auto;
    flex: 2;

    .folder-tree{
      .name{
        flex:2;
        display: flex;
        align-items: center;
        overflow: hidden;


        &-folder{
          span{
            padding-left: 10px;
          }
        }

        &-file{
          padding-left: 4px;

          span.item-name{
            padding-left: 14px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }

      .size{
        flex:1;
        &.file-size{
          text-align: right;
          padding-right: 35px;
        }
      }

      .progress-wrapper{
        flex:1;

        .progres{

          border: 1px solid rgba(0,0,0,.12);
          height: 15px;
          position: relative;

          .bar{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 0;
            background-color:  #00bcd4;

            &.full{
              width: 100%;
              transition: 5s ease-in-out;
            }
          }
        }
      }

      .material-icons.close{
        font-size: 15px;
        margin: 0 10px;
        cursor: pointer;
      }

      .action {
        display: flex;
        justify-content: space-around;
        width: 100%;

        .add-file {
          overflow: hidden;
          min-width: 100px ;
          height: 30px;
          position: relative;

          input{
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            opacity: 0;
          }
        }
      }

    }
  }

  .folder-tree {
    padding: 20px 30px;
  }

  .folder-item{
     display: flex;
     align-items: center;

     .folder-item-wrapper{
       width: 100%;
       display: flex;
       justify-content: space-between;
       align-items: center;
       cursor: pointer;
       color: rgba(0,0,0,.87);

       i{
         color: rgb(232, 232, 232);
       }

       &:hover{
         color: #00bcd4;
         transition: .3s ease-in-out;

         i{
           color: #00bcd4;
           transition: .3s ease-in-out;
         }

         .empty-checkbox{
           border-color: #00bcd4
         }

         .progress-wrapper{
           .progres{
             border-color: #00bcd4 !important;
           }
         }
       }
     }
   }
}

.empty-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 2px solid lightgrey;
  margin-top: 2px;
  position: relative;
  min-width: 16px;

  &.checked {
    border-color: #35afd5;
    background-color: #35afd5;
  }

  .checked-checkbox {
    top: 0px;
    left: 4px;
    width: 5px;
    height: 10px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    position: absolute;
    transform: rotate(45deg);
  }
}

.folder-item-name{
  span{
    color: #000;
  }

  .check-box {
    background-color: red;
  }

}




