/*!
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
.dialog-header {
  padding-left: 33px !important;
}

.bucket-browser {
  font-size: 14px;
  font-weight: 400;


  .loading-block{
    width: 80%;
    margin: 20% auto 0 auto;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100%;
    .uploading{
      width: 100%;
      text-align: center;
      p{
        margin-bottom: 20px;
      }
    }
  }

  .action-wrapper{
    position: relative;

    .action-button-wrapper{
      position: relative;
      width: 160px;
    }

    .mat-raised-button.butt{
      margin-bottom: 0;

      &.actions-btn{
        padding-right: 38px;

        .material-icons{
          transition: ease-in-out 1s;
          font-size: 25px;
          position: absolute;
          top: 7px;
          right: 30px;
        }
      }
    }

    .action-menu{
      position: absolute;
      margin: 0 10px;
      text-align: center;

      &-item.mat-raised-button.butt{
        z-index: 1;
        margin: 0;
        box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 0px 0px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
        width: 160px;
        padding: 0 20px;
        border-radius: 0;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        font-family: 'Open Sans', sans-serif;
        color: #577289;
        position: relative;
        overflow: hidden;
        line-height: 36px;
      }
    }
  }

  .path{
    margin: 0 4px 30px 0;
    padding: 4px 4px 4px 0;
    color: rgba(0,0,0,.87);
    overflow: hidden;
    white-space: nowrap;
    display: flex;

    .url{
      font-weight: 600;
      overflow: hidden;
      display: block;
      direction: rtl;

     &-folder{
       padding-left: 5px;
       padding-right: 5px;
       color: #00bcd4;
       cursor: pointer;
     }

      &-icon i{
        transform: translateY(2px);
        font-size: 15px;
      }
    }
  }
  bottom: 0;

  .dialog-content{
    padding: 0 35px;
  }

  .content-box {
    height: 500px;
  }

  .submit{
    display: flex;
    justify-content: space-between;
    .left-side-butts{
      display: flex;
    }

    .butt{
      position: relative;
      overflow: hidden;
      margin: 10px;

      &.first-btn{
        margin-left: 0;
      }

      &.refresh{
        margin-right: 0;
      }

      &.action-menu-item{
        &:hover{
          color:  #00bcd4;
          background-color: #fafafa;
        }
      }

      input[type="file"] {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 0;
      }
    }
  }
}

.navigation-line{
  display: flex;
  margin-bottom: 25px;

  .endpoint-select{
    flex: 1;
    position: relative;
    opacity: 0;
  }


}


.bucket-wrapper{
  height: 57vh;
  border: 2px solid rgba(0,0,0,.12);
  border-radius: 5px;
  display: flex;
  width: 100%;

  &.added-upload{
    height: 40vh;
  }
   .backet-selection{
     position: relative;
     width: 2%;
     border-right: 2px solid rgba(0,0,0,.12);
     padding-top: 6px;
     transition: .2s;
     &.opened{
       width: 33.3%;

       .button-wrapper {
         text-align: right;
         left: auto;


         i{
           padding-right: 3px;
         }
       }
     }

     .button-wrapper {
       position: absolute;
       left: 0;
       right: 0;
       top: 9px;
       text-align: center;


       i{
         cursor: pointer;
         font-size: 18px;

         &:hover{
           color:  #00bcd4;
       }
       }
     }

     .buckets-list{
       color: rgba(0, 0, 0, 0.87);
       padding-left: 20px;
       line-height: 24px;

       &-item{
         &:hover{
           color:  #00bcd4;
           cursor: pointer;
         }
       }
     }
   }

     .buckets-list{
       color: rgba(0, 0, 0, 0.87);
       padding-left: 20px;
       line-height: 24px;
       &-item{
         &:hover{
           color:  #00bcd4;
           cursor: pointer;
         }
       }
     }
   }
  .navigation{
    transition: .2s;
    width: 31.3%;
    height: 100%;
    overflow: auto;
    padding-top: 6px;

    &.selection-opened{
      width: 66.7%;
    }

    .folder-tree{
      .folder{
        line-height: 30px;
      }
    }

    .mat-tree-node{
      min-height: auto;
    }
  }

  .directory{
    width: 66.7%;
    max-height: 100%;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    border-left: 2px solid rgba(0,0,0,.12);

    &.selection-opened{
      display: none;
    }

    .folder-tree{
      overflow-x: auto;
      overflow-y: overlay;
      max-height: 100%;

      .name{
        flex:2;
        display: flex;
        align-items: center;
        overflow: hidden;

        .name-wrap {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          padding-right: 10px;
        }

        &-folder{
          .folder-name{
            padding-left: 8px;
          }
        }

        &-file{
          i{
            transform: translateX(6px);
          }
          span.item-name{
            padding-left: 8px;
            &.removed-checkbox{
              padding-left: 0;
            }
          }
        }
      }

      .size{
        flex:1;

        &-folder{
          padding-left: 4px;
        }
      }

      .date{
        flex:1;

        .th_date{
          font-size: 13px;
        }
      }

      .progress-wrapper{
        flex:1;

        .progres{
          border: 1px solid rgba(0,0,0,.12);
          height: 15px;
          position: relative;

          .bar{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 0;
            background-color:  #00bcd4;

            &.full{
              width: 100%;
              transition: 5s ease-in-out;
            }
          }
        }
      }

      .material-icons.close{
        font-size: 15px;
        margin: 0 10px;
        cursor: pointer;
      }

      .action {
        display: flex;
        justify-content: space-around;
        width: 100%;

        .add-file {
          overflow: hidden;
          min-width: 100px ;
          height: 30px;
          position: relative;

          input{
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            opacity: 0;
          }
        }
      }
    }
  }

  .folder-tree {
    padding: 0px 30px;
    padding-top: 6px;
  }

  .folder-item{
     display: flex;
     align-items: center;

    &.t_header{
      top: -41px;

      position: absolute;
      left: 0;
      right: 0;

      .folder-item-wrapper{
        height: 52px;
      }

      .th_name{
        padding-left: 29px;
        font-size: 14px;
        cursor: pointer;

        &:hover{
          color: #00bcd4;
        }
      }

      .filter-files{
        width: 100%;
        padding: 3px 0;
        padding-left: 3px;
        display: flex;
        align-items: center;

        .filter-name{
          font-size: 14px;
          height: 20px;
          width: 90%;
        }

        span{
          transform: translateY(2px);

          &:hover{
            i{
              color: #00bcd4;
            }
          }
        }
      }

      .th_size{
        font-size: 14px;
        padding-left: 3px;
        cursor: auto;
      }

      .th_date{
        font-size: 14px !important;
        cursor: auto;
      }
    }
     .folder-item-wrapper{
       width: 100%;
       display: flex;
       justify-content: space-between;
       align-items: center;
       cursor: pointer;
       color: rgba(0,0,0,.87);

       &.header-item{
         cursor: auto;

         .name{
           margin-left: -3px;
         }

       }

       i{
         color: rgb(232, 232, 232);
       }

       &:hover:not(.header-wrapper){
         color: #00bcd4;
         transition: .3s ease-in-out;
         i{
           color: #00bcd4;
           transition: .3s ease-in-out;
         }

         .empty-checkbox{
           border-color: #00bcd4
         }

         .progress-wrapper{

           .progres{
             border-color: #00bcd4 !important;
           }
         }
       }

       &.no-select{
         pointer-events: none;

         .name-wrap{
           padding-left: 29px !important;
         }
       }
     }
   }
}

input[type='file'] {
  opacity:1
}

.empty-checkbox {
  min-width: 16px;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 2px solid lightgrey;
  margin-top: 2px;
  position: relative;

  &.checked {
    border-color: #35afd5;
    background-color: #35afd5;
  }

  .checked-checkbox {
    top: 0;
    left: 4px;
    width: 5px;
    height: 10px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    position: absolute;
    transform: rotate(45deg);
  }
}

.folder-item-name{
  span{
    color: #000;
  }

  .check-box {
    background-color: red;
  }
}

.upload-window{
  margin-top: 2vh;
  border: 2px solid rgba(0,0,0,.12);
  border-radius: 5px;
  background-color: white;
  height: 15vh;
  color: black;

  .upload-header{
    padding-left: 8px;
    background: #f6fafe;
    height: 30px;
    line-height: 30px;
    position: relative;
    .modal-title {
      width: 90%;
      margin: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-weight: 600;
      color: #455c74;
      font-size: 14px;
      background: #f6fafe;
  }

    .close{
      position: absolute;
      top: 0;
      right: 0;
      height: 30px;
      width: 30px;
      font-size: 20px;
      font-weight: 300;
      border: 0;
      background: none;
      color: #577289;
      outline: none;
      cursor: pointer;
      transition: all 0.45s ease-in-out;

      &:hover{
        color: #36afd5;
      }
    }

  }
  .upload-files{
    padding: 5px;
    height: calc(100% - 30px);
    overflow: auto;
    .file{
      padding: 2px;
      display: flex;
      font-size: 12px;
      position: relative;

      &.upload-table-header{
        font-size: 11px;
      }

      .name{
        flex:12;
        padding-right: 5px;
        overflow: hidden;
        display: flex;
      }

      .upload-path{
        flex:12;
        padding-right: 5px;
        display: flex;
      }

      .size{
        flex:4;
      }
      .state{
        flex:6;
        display: flex;
        justify-content: center;
        align-items: center;
        .mat-raised-button{
          width: 60px;
          padding: 5px;
          border-radius: 0;
          font-style: normal;
          font-weight: 600;
          font-size: 11px;
          font-family: "Open Sans", sans-serif;
          color: #577289;
          line-height: 8px;
        }
      }
      .remove{
        display: flex;
        align-items: center;
        flex: 1;
        position: relative;
        .close{
          color: #577289;
          font-size: 12px;
          cursor: pointer;
          position: absolute;
          top: 3px;
          right: 0;
          height: 18px;
          width: 14px;
          transition: all 0.45s ease-in-out;

          &:hover{
            color: #f1696e;
          }
        }
      }
    }
  }
}

@media only screen and (max-height: 920px) {
  .bucket-wrapper {
    height: 55vh;
    &.added-upload{
      height: 38vh;
    }
  }
}

@media only screen and (max-height: 840px) {
  .bucket-wrapper {
    height: 53vh;
    &.added-upload{
      height: 36vh;
    }
  }
}

@media only screen and (max-height: 760px) {
  .bucket-wrapper {
    height: 51vh;
    &.added-upload{
      height: 34vh;
    }
  }
}

@media only screen and (max-height: 700px) {
  .bucket-wrapper {
    height: 49vh;
    &.added-upload{
      height: 32vh;
    }
  }
}

@media only screen and (max-height: 650px) {
  .bucket-wrapper {
    height: 47vh;
    &.added-upload{
      height: 30vh;
    }
  }
}





