<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<div class="bucket-browser" id="dialog-box">
  <header class="dialog-header">
    <h4 class="modal-title">Bucket browser</h4>
    <button type="button" class="close" (click)="dialogRef.close()">&times;</button>
  </header>

<!--  <div class="dialog-content tabs">-->
  <div class="dialog-content tabs" [hidden]="!path" >
    <div class="submit m-bott-10 m-top-10">
      <span [matTooltip]="'You have not permission to upload data'" matTooltipPosition="above" matTooltipDisabled="{{this.bucketStatus.upload}}">
        <button mat-raised-button type="button" class="butt action" [disabled]="!this.bucketStatus.upload || allDisable">
          <input [ngClass]="{'not-allowed': !this.bucketStatus.upload}" type="file" (change)="handleFileInput($event)" title="">
          Add file
        </button>
      </span>
      <span [matTooltip]="'You have not permission to create folder'" matTooltipPosition="above" matTooltipDisabled="{{this.bucketStatus.upload}}">
        <button
          mat-raised-button
          type="button"
          class="butt action"
          (click)="createFolder(selectedFolder)"
          [disabled]="!this.bucketStatus.upload || allDisable"
        >
          Create folder
        </button>
      </span>
      <span [matTooltip]="'You have not permission to delete data'" matTooltipPosition="above" matTooltipDisabled="{{this.bucketStatus.delete}}">
        <button
          type="button"
          class="butt"
          mat-raised-button
          (click)="fileAction('delete')"
          [disabled]="!selected?.length || !this.bucketStatus.delete || allDisable"

        >
        Delete
      </button>
      </span>

      <span [matTooltip]="'You have not permission to download data'" matTooltipPosition="above" matTooltipDisabled="{{this.bucketStatus.download}}">
       <button
         type="button" class="butt"
         mat-raised-button
         (click)="fileAction('download')"
         [disabled]="!selected?.length || !this.bucketStatus.download || allDisable"
       >
         Download
       </button>
      </span>


<!--      <button type="button" class="butt" mat-raised-button [disabled]="this.addedFiles.length === 0" (click)="uploadNewFile()">Upload</button>-->
    </div>
    <p class="path"><span>Bucket path:</span><span class="url ellipsis"> {{path}}</span></p>
    <div class="backet-wrapper" id="scrolling">
      <div class="navigation">
        <dlab-folder-tree
          (showFolderContent)=onFolderClick($event)
          (disableAll) = dissableAll($event)
          [folders] = folders
        > </dlab-folder-tree>
      </div>
      <div class="directory">
        <div class="folder-item t_header"  *ngIf="folderItems.length && !addedFiles.length">
          <div class="folder-item-wrapper header-wrapper folder-tree">
            <div class="name"><span class="th_name">Name</span></div>
            <div class="size"><span class="th_size">Size</span></div>
            <div class="date"><span class="th_date">Last modified</span></div>
          </div>
        </div>
<!--        <ul class="folder-tree" *ngIf="!addedFiles.length">-->
        <ul class="folder-tree">
          <li *ngFor="let file of folderItems" class="folder-item" >
            <div class="folder-item-wrapper" *ngIf="file.children && file.item" (click)="showItem(file)">
              <div class="name name-folder"><i class="material-icons folder-icon" >folder</i><span class="name-wrap">{{file.item}}</span></div>
              <div class="size size-folder">-</div>
              <div class="date" *ngIf="!file.isDownloading">-</div>
<!--              <div class="progress-wrapper">-->
<!--                <div class="progres" *ngIf="file.isSelected"><div class="bar"></div></div>-->
<!--              </div>-->
            </div>

            <div class="folder-item-wrapper"  (click)="toggleSelectedFile(file)" *ngIf="!file.children" [ngClass]="{'no-select': !this.bucketStatus.download && !this.bucketStatus.delete}">
              <div class="name name-file">
                 <span *ngIf="this.bucketStatus.download || this.bucketStatus.delete" class="empty-checkbox" [ngClass]="{'checked': file.isSelected}" (click)="toggleSelectedFile(file);$event.stopPropagation()" >
                    <span class="checked-checkbox" *ngIf="file.isSelected"></span>
                  </span>
                <span class="item-name name-wrap" [ngClass]="{'removed-checkbox': !this.bucketStatus.download && !this.bucketStatus.delete}">{{file.item}}</span>
              </div>
              <div class="size">{{file.size?.size}}</div>
              <div class="date" *ngIf="!file.isDownloading">{{file.size?.lastModifiedDate }}</div>
              <div class="progress-wrapper" *ngIf="file.isDownloading">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="text-center m-top-30 m-bott-30">
      <button type="button" class="butt" mat-raised-button (click)="this.dialogRef.close()">Close</button>
    </div>
  </div>
  <div class="upload-window" *ngIf="isUploadWindowOpened">
    <header class="upload-header">
      <h4 class="modal-title">Upload files</h4>
      <button type="button" class="close" (click)="closeUploadWindow()">&times;</button>
    </header>
    <ul class="upload-files">
      <li *ngFor="let file of addedFiles" class="file">
          <div class="name ellipsis" matTooltip="{{file.name}}">{{file.name}}</div>
          <div class="upload-path ellipsis" matTooltip="{{file.path}}">{{file.path}}</div>
          <div class="size">{{file.size}}MB</div>
          <div class="state">
            <button mat-raised-button (click)="uploadNewFile(file)" *ngIf="!file.isUploading && !file.doneUploading && !file.errorUploading">Upload</button>
            <mat-progress-bar mode="indeterminate" *ngIf="file.isUploading"></mat-progress-bar>
            <span *ngIf="file.uploaded">Uploaded</span>
            <span *ngIf="file.errorUploading" class="error">Uploading error</span>
          </div>
          <div class="remove"><i (click)="deleteAddedFile(file)" class="material-icons close">close</i></div>
      </li>
    </ul>
  </div>
  <div class="loading-block" *ngIf="!path">
    <div class="uploading">
      <p>Please wait until DLab loads bucket: <span class="strong">{{data.bucket}}</span>...</p>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </div>
</div>
