<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<div class="bucket-browser" id="dialog-box">
  <header class="dialog-header">
    <h4 class="modal-title">Bucket browser</h4>
    <button type="button" class="close" (click)="dialogRef.close()">&times;</button>
  </header>
  <div class="dialog-content tabs">
    <div class="submit m-bott-10 m-top-10">
      <button mat-raised-button type="button" class="butt action"><input type="file" (change)="handleFileInput($event.target.files)">Add file</button>
<!--      <button mat-raised-button type="button" class="butt action"><input type="file" (change)="filesPicked($event.target.files)" webkitdirectory directory multiple/>Upload folder</button>-->
<!--      <button mat-raised-button type="button" class="butt action">Download files</button>-->
      <button mat-raised-button type="button" class="butt action">Create folder</button>
    </div>
    <div class="backet-wrapper" id="scrolling">
      <div class="navigation">
        <dlab-folder-tree></dlab-folder-tree>
<!--        <ul class="folder-tree">-->
<!--          <li class="folder-item">-->
<!--            <i class="material-icons">folder</i>-->
<!--            <span class="folder">bucket</span>-->
<!--          </li>-->
<!--        </ul>-->
      </div>
      <div class="directory">
<!--        <dlab-folder-tree></dlab-folder-tree>-->
        <ul class="folder-tree">
          <li *ngFor="let file of uploadPaths" class="folder-item">
            <div class="name">{{file}}</div>
            <div class="size">2.4kb</div>
            <div class="progres"></div>
          </li>
          <li class="folder-item">

          </li>
        </ul>
      </div>
    </div>
    <div class="text-center m-top-30 m-bott-30">
      <button type="button" class="butt" mat-raised-button (click)="this.dialogRef.close()">Close</button>
      <button type="button" class="butt butt-success" mat-raised-button>Download</button>
      <button type="button" class="butt butt-success" mat-raised-button>Upload</button>
    </div>
  </div>
</div>
