[Unit]
Description=Jupyter notebook

[Service]
Type=simple
PIDFile=/var/run/jupyter-notebook.pid
ExecStart=/bin/bash -c "/usr/local/bin/jupyter notebook --config CONF_PATH"
ExecStop=/bin/bash -c "for i in $(ps aux | grep jupyter | grep -v grep | awk '{print $2}'); do kill -9 $i; done"
User=OS_USR
Group=OS_USR
WorkingDirectory=/home/OS_USR

[Install]
WantedBy=multi-user.target