<?xml version='1.0' encoding='UTF-8'?>
<!--

Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.

-->
<project>
  <actions/>
  <description>Create Dataproc cluster</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>Username</name>
          <description>name of the scientist</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>exploratory_name</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>computational_name</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>dataproc_version</name>
          <description></description>
          <defaultValue>1.1</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>master_instance_type</name>
          <description>Shape of master node</description>
          <defaultValue>n1-standard-2</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>slave_instance_type</name>
          <description>Shape of slave nodes</description>
          <defaultValue>n1-standard-2</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>master_count</name>
          <description>Number of masters: 1 for standard, 3 for High Availability mode</description>
          <defaultValue>1</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>slave_count</name>
          <description>Number of slaves instances. Minimum 2.</description>
          <defaultValue>2</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>preemptible_count</name>
          <description>Number of preemptible instances.</description>
          <defaultValue>0</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>notebook_instance_name</name>
          <description></description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>notebook_app</name>
          <description>notebook application to be configured</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>jupyter</string>
              <string>rstudio</string>
              <string>zeppelin</string>
              <string>tensor</string>
              <string>tensor-rstudio</string>
              <string>deeplearning</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>Action</name>
          <description></description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>create</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>rand=`openssl rand -hex 10`;
          sed &apos;s/RID/&apos;${rand}&apos;/g&apos;
          /var/lib/jenkins/jobs/create_dataengine-service/template_prepare.json | sed &apos;s/EUN/&apos;${Username}&apos;/g&apos;
          | sed &apos;s/EXN/&apos;${exploratory_name}&apos;/g&apos; | sed &apos;s/CON/&apos;${computational_name}&apos;/g&apos;
          | sed &apos;s/IMC/&apos;${master_count}&apos;/g&apos; | sed &apos;s/ISC/&apos;${slave_count}&apos;/g&apos; |
          sed &apos;s/IPC/&apos;${preemptible_count}&apos;/g&apos; | sed &apos;s/DVER/&apos;${dataproc_version}&apos;/g&apos;
          | sed &apos;s/MIT/&apos;${master_instance_type}&apos;/g&apos; | sed &apos;s/SIT/&apos;${slave_instance_type}&apos;/g&apos;
          | sed &apos;s/NIN/&apos;${notebook_instance_name}&apos;/g&apos; | sudo docker run -i -v
          /home/datalab-user/keys:/root/keys -v /opt/datalab/tmp/result:/response -v
          /var/opt/datalab/log/dataengine-service:/logs/dataengine-service docker.datalab-dataengine-service --action
          create;
          rand=`openssl rand -hex 10`;
          sed &apos;s/RID/&apos;${rand}&apos;/g&apos;
          /var/lib/jenkins/jobs/create_dataengine-service/template_configure.json | sed &apos;s/EUN/&apos;${Username}&apos;/g&apos;
          | sed &apos;s/DVER/&apos;${dataproc_version}&apos;/g&apos; | sed &apos;s/NIN/&apos;${notebook_instance_name}&apos;/g&apos;
          | sed &apos;s/EXN/&apos;${exploratory_name}&apos;/g&apos; | sed &apos;s/CON/&apos;${computational_name}&apos;/g&apos;
          | sed &apos;s/APP/&apos;${notebook_app}&apos;/g&apos; | sudo docker run -i -v
          /home/datalab-user/keys:/root/keys -v /opt/datalab/tmp/result:/response -v
          /var/opt/datalab/log/dataengine-service:/logs/dataengine-service docker.datalab-${notebook_app} --action
          configure;
      </command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>